OMTD-SHARE v100 XSD/OMTD-SHARE-Corpus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited by ILSP/Athena R.C. -->
<xs:schema xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0" xml:lang="en">
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-ResourceCommon.xsd"/>
	<xs:complexType name="corpusInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{identificationInfo/resourceName}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resourceType" type="xs:string" fixed="corpus">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<label>Resource type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:identificationInfo"/>
			<xs:element ref="ms:contactInfo" maxOccurs="1"/>
			<xs:element ref="ms:versionInfo" minOccurs="0"/>
			<xs:element name="validationInfos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:validationInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:usageInfo" minOccurs="0"/>
			<xs:element ref="ms:resourceDocumentationInfo" minOccurs="0"/>
			<xs:element ref="ms:resourceCreationInfo" minOccurs="0"/>
			<xs:element name="distributionInfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:datasetDistributionInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="corpusSubtypeSpecificInfo">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="ms:rawCorpusInfo" minOccurs="1"/>
						<xs:element ref="ms:annotatedCorpusInfo" minOccurs="1"/>
						<xs:element ref="ms:annotationsInfo" minOccurs="1"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rawCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to raw corpora</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="corpusSubtype" fixed="rawCorpus"/>
			<!-- left as a sequence for audio, video, image parts to be inserted again at a later stage -->
			<xs:element name="corpusMediaPartsType">
				<xs:annotation>
					<xs:documentation>Used to specify the media type specific to corpora and group together the relevant information</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Media type component of corpus</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="corpusTextParts">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ms:corpusTextPartInfo" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Groups together information on the text component of a resource</xs:documentation>
											<xs:appinfo>
												<recommended>true</recommended>
												<relation>one-to-many</relation>
												<label>Corpus text part</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="annotatedCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to annotated corpora</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="corpusSubtype" fixed="annotatedCorpus"/>
			<!-- left as a sequence for audio, video, image parts to be inserted again at a later stage -->
			<xs:element name="corpusMediaParts">
				<xs:annotation>
					<xs:documentation>Used to specify the media type specific to corpora and group together the relevant information</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Media type parts of corpus</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="corpusTextParts">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ms:corpusTextPartInfo" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Groups together information on the text component of a resource</xs:documentation>
											<xs:appinfo>
												<recommended>true</recommended>
												<relation>one-to-many</relation>
												<label>Corpus text part</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="annotations">
							<xs:complexType>
								<xs:sequence>
							<xs:element ref="ms:annotationInfo" maxOccurs="unbounded"></xs:element>
							</xs:sequence></xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="corpusTextPartInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>text ({lingualityInfo} {languageInfo})</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mediaType" type="xs:string" fixed="text">
				<xs:annotation>
					<xs:documentation>Specifies the media type of the resource and basically corresponds to the physical medium of the content representation. Each media type is described through a distinctive set of features. A resource may consist of parts attributed to different types of media. A tool/service may take as input/output more than one different media types.</xs:documentation>
					<xs:appinfo>
						<label>Media type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:lingualityInfo">
				<xs:annotation>
					<xs:documentation>Groups information on the number of languages of the resource part and of the way they are combined to each other</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Linguality</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="languages" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:languageInfo" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the languages represented in the resource</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Language</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="modalities" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:modalityInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the modalities represented in the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Modality</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sizes" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:sizeInfo" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the size of the resource or of resource parts</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Size</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="textFormats" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:textFormatInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the text format(s) of a resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Text format</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="characterEncodings" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:characterEncodingInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on character encoding of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Character encoding</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="domains" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:domainInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on domains represented in the resource; can be repeated for parts of the resource with distinct domain</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Domain</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="textClassifications" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:textClassificationInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on text type/genre of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<label>Text classification</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="timeClassifications" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:timeCoverageInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups together information on time classification of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Time coverage</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="geographicClassifications" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:geographicCoverageInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on geographic classification of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Geographic coverage</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:creationInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups together information on the resource creation (e.g. for corpora, selection of texts/audio files/ video files etc.; for lexica, construction of lemma list etc.)</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-one</relation>
						<label>Creation</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="annotationsInfoType">
		<xs:sequence>
			<xs:element name="corpusSubtype" fixed="annotations"/>
			<xs:element name="rawCorpus" type="ms:relatedResourceType"/>
			<xs:element ref="ms:annotationInfo"/>
		</xs:sequence>
	</xs:complexType>
	<!-- definition of elements -->
	<xs:element name="corpusMetadataRecord">
		<xs:annotation>
			<xs:appinfo>
				<xs:label>Metadata record for corpora</xs:label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ms:metadataHeaderInfo"/>
				<xs:element ref="ms:corpusInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="corpusInfo" type="ms:corpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to corpora</xs:documentation>
			<xs:appinfo>
				<label>Corpus</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="corpusTextPartInfo" type="ms:corpusTextPartInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the text component of a resource</xs:documentation>
			<xs:appinfo>
				<label>Corpus text part</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="rawCorpusInfo" type="ms:rawCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on corpora of all media types</xs:documentation>
			<xs:appinfo>
				<label>Raw corpus</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="annotatedCorpusInfo" type="ms:annotatedCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on annotated corpora of all media types</xs:documentation>
			<xs:appinfo>
				<label>Annotated corpus</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="annotationsInfo" type="ms:annotationsInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on annotations</xs:documentation>
			<xs:appinfo>
				<label>Annotations</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
</xs:schema>
