OMTD-SHARE v100 XSD/OMTD-SHARE-Actors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited by ILSP/Athena R.C. -->
<xs:schema xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0" xml:lang="en">
	<xs:include schemaLocation="./OMTD-SHARE-ISOVocabularies.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<!-- definition of complex types -->
	<xs:complexType name="personInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{surname} {givenName} {communicationInfo/email} {affiliation}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="surnames">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="surname" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>The surname (family name) of a person related to the resource</xs:documentation>
										<xs:appinfo>
											<relation>one-to-many</relation>
											<label>Surname</label>
											<sameAs>foaf:familyName</sameAs>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:restriction base="ms:myString">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleContent>
									</xs:complexType>
									<xs:unique name="uniqueLang7">
										<xs:selector xpath="."/>
										<xs:field xpath="@lang"/>
									</xs:unique>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="givenNames" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="givenName" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>The given name (first name) of a person related to the resource; initials can also be used</xs:documentation>
										<xs:appinfo>
											<recommended>true</recommended>
											<relation>one-to-many</relation>
											<label>Given name</label>
											<sameAs>foaf:givenName</sameAs>
										</xs:appinfo>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:restriction base="ms:myString">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleContent>
									</xs:complexType>
									<xs:unique name="uniqueLang6">
										<xs:selector xpath="."/>
										<xs:field xpath="@lang"/>
									</xs:unique>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="names">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The full name of a person; the preferred format is "family name, given name"</xs:documentation>
									<xs:appinfo>
										<relation>one-to-many</relation>
										<label>Name</label>
										<sameAs>foaf:name</sameAs>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:restriction base="ms:myString">
											<xs:maxLength value="100"/>
										</xs:restriction>
									</xs:simpleContent>
								</xs:complexType>
								<xs:unique name="uniqueLang123">
									<xs:selector xpath="."/>
									<xs:field xpath="@lang"/>
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="personIdentifiers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="personIdentifier" type="ms:personIdentifierType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Reference to any kind of identifier used for a person; the attribute should be used to specify the type of identifier (e.g. ORCID, LinkedIn etc.)</xs:documentation>
								<xs:appinfo>
									<label>Identifier</label>
									<sameAs>dct:identifier</sameAs>
									<!-- we allow for all possible identifiers and not only persistent ones as in CCR -->
									<closeMatch>http://hdl.handle.net/11459/CCR_C-2573_ae7c2548-8a86-ab6e-7099-e28b7697d1a2 (ccr:persistentIdentifier)</closeMatch>
									<sameAs>dataCite:nameIdentifier</sameAs>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:sex" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The gender of a person related to or participating in the resource</xs:documentation>
					<xs:appinfo>
						<label>Sex</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:communicationInfo">
				<xs:annotation>
					<xs:documentation>Groups information on communication details of a person or an organization</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Communication</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="affiliations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="affiliation" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on organization to whom the person is affiliated</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Affiliation</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="position" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The position or the title of a person if affiliated to an organization </xs:documentation>
											<xs:appinfo>
												<relation>one-to-one</relation>
												<label>Position</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="affiliatedOrganization" type="ms:relatedOrganizationType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The organization to which a person is affiliated</xs:documentation>
											<xs:appinfo>
												<relation>one-to-one</relation>
												<label>Affiliated organization</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="communicationInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{email} {telephoneNumber}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="emails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="email" type="ms:emailAddress" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The email address of a person, group or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Email</label>
									<sameAs>foaf:mbox</sameAs>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="homepages" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="homepage" type="ms:httpURI" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A URL used as homepage of a person, group or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Homepage</label>
									<sameAs>foaf:homepage</sameAs>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="postalAddress" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="address" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The street and the number of the postal address of a person or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>Address</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="zipCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The zip code of the postal address of a person or organization </xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>Zip code</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="city" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The name of the city, town or village as mentioned in the postal address of a person or organization </xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>City</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="region" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The name of the region, county or department as mentioned in the postal address of a person or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>Region</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="country" type="ms:regionIdType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The identifier of the country mentioned in the postal address of a person or organization as defined in the list of values of ISO 3166; label is used to show the full name</xs:documentation>
								<xs:appinfo>
									<iso>ISO3166</iso>
									<relation>one-to-one</relation>
									<label>Country identifier</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="telephoneNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="telephoneNumber" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The telephone number of a person or an organization; recommended format: +_international code_city code_number</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Telephone number</label>
									<sameAs>foaf:phone</sameAs>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="faxNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="faxNumber" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The fax number of a person or an organization; recommended format: +_international code_city code_number</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Fax number</label>
									<broadMatch>foaf:phone</broadMatch>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organizationInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{organizationName} – department: {departmentName}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="organizationNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="organizationName" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The full name of an organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Organization name</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang13">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="organizationAlternativeNames" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="organizationAlternativeName" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>An alternative name (e.g. abbreviation, acronym, translation etc.) used for an organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Organization alternative name</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ms:myString">
										<xs:attribute name="nameType" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="shortName"/>
													<xs:enumeration value="alternativeName"/>
													<xs:enumeration value="translatedName"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
							<xs:unique name="uniqueLang9">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="organizationIdentifiers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="organizationIdentifier" type="ms:organizationIdentifierType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Reference to any kind of identifier used for an organization; the attribute should be used to specify the type of identifier (e.g. ORCID, LinkedIn etc.)</xs:documentation>
								<xs:appinfo>
									<label>Identifier</label>
									<sameAs>dct:identifier</sameAs>
									<!-- we allow for all possible identifiers and not only persistent ones as in CCR -->
									<closeMatch>http://hdl.handle.net/11459/CCR_C-2573_ae7c2548-8a86-ab6e-7099-e28b7697d1a2 (ccr:persistentIdentifier)</closeMatch>
									<sameAs>dataCite:nameIdentifier</sameAs>
								</xs:appinfo>
							</xs:annotation>
							<!-- CHECK: I have not been able to add the restriction of length 100 -->
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="departmentNames" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="departmentName" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name of the department or unit (e.g. specific university faculty/department, department/unit of a research organization or private company etc.)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Department name</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ms:myString">
										<xs:attribute name="nameType" use="optional">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="shortName"/>
													<xs:enumeration value="alternativeName"/>
													<xs:enumeration value="translatedName"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
							<xs:unique name="uniqueLang8">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:communicationInfo">
				<xs:annotation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- definition of elements -->
	<xs:element name="personInfo" type="ms:personInfoType">
		<xs:annotation>
			<xs:documentation>Groups information relevant to personsrelated to the resource; to be used mainly for contact persons, resource creators, validators, annotators etc. for whom personal data can be provided</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Person</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="communicationInfo" type="ms:communicationInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on communication details of a person or an organization</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Communication</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="organizationInfo" type="ms:organizationInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on organizations related to the resource</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Organization</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<!-- specific to persons -->
	<xs:element name="sex">
		<xs:annotation>
			<xs:documentation>The gender of a person</xs:documentation>
			<xs:appinfo>
				<label>Sex</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:enumeration value="male"/>
				<xs:enumeration value="female"/>
				<xs:enumeration value="unknown"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
