OMTD-SHARE v200 XSD/OMTD-SHARE-Publications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿pl (pl) -->
<!-- edited by ILSP/Athena R.C. -->
<xs:schema xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1" xml:lang="en">
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-Distributions.xsd"/>
	<xs:complexType name="documentInfoType">
		<xs:annotation>
			<xs:documentation>Base type for documents (single files) mainly intended for publications</xs:documentation>
			<xs:appinfo>
				<render-short>{publicationIdentifier}, {author}: {title}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="documentType">
				<xs:annotation>
					<xs:documentation>Specifies whether the record includes direct access to the full text, the abstract in txt format (inside the record) or serves only as a bibliographic record (includes only metadata)</xs:documentation>
					<xs:appinfo>
						<ms:usage>This should be automatically calculated if possible from the repository to indicate the status of the publication; in OpenMinTeD we should normally not include in the queries those that have documentType=bibliographicRecordOnly</ms:usage>
					</xs:appinfo>
					<xs:appinfo>
						<label>Document type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="bibliographicRecordOnly">
							<xs:annotation>
								<xs:documentation>For publications that are recorded only with bibliographic metadata</xs:documentation>
								<xs:appinfo>
									<label>Bibliographic record</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="withAbstractOnly">
							<xs:annotation>
								<xs:documentation>For publications that include only abstract but not the full text</xs:documentation>
								<xs:appinfo>
									<label>With abstract only</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="withFullText">
							<xs:annotation>
								<xs:documentation>For publications that include also the full text (either as a link or inside the metadata)</xs:documentation>
								<xs:appinfo>
									<label>With full text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="publicationType">
				<xs:annotation>
					<xs:documentation>Specifies the type of the publication; the list takes values from the COAR Controlled Vocabulary for Resource Type Genres (restricted to concepts under "text" that can be used for publications)</xs:documentation>
					<xs:appinfo>
						<label>Publication type</label>
						<exactMatch>dct:type</exactMatch>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="journalArticle">
							<xs:annotation>
								<xs:documentation>An article on a particular topic and published in a journal issue. (adapted from fabio)</xs:documentation>
								<xs:appinfo>
									<label>Journal article</label>
									<exactMatch>http://purl.org/coar/resource_type/c_6501</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="bachelorThesis">
							<xs:annotation>
								<xs:documentation>A thesis reporting a research project undertaken as part of an undergraduate course of education leading to a bachelor's degree.</xs:documentation>
								<xs:appinfo>
									<label>Bachelor thesis</label>
									<exactMatch>http://purl.org/coar/resource_type/c_7a1f</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="masterThesis">
							<xs:annotation>
								<xs:documentation>A thesis reporting a research project undertaken as part of a graduate course of education leading to a master's degree.</xs:documentation>
								<xs:appinfo>
									<label>Master's thesis</label>
									<exactMatch>ms:mastersThesis</exactMatch>
									<exactMatch>http://purl.org/coar/resource_type/c_bdcc</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="doctoralThesis">
							<xs:annotation>
								<xs:documentation>A thesis reporting the research undertaken during a period of graduate study leading to a doctoral degree.</xs:documentation>
								<xs:appinfo>
									<label>Doctoral thesis</label>
									<exactMatch>ms:phDThesis</exactMatch>
									<exactMatch>http://purl.org/coar/resource_type/c_db06</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="book">
							<xs:annotation>
								<xs:documentation>A non-serial publication that is complete in one volume or a designated finite number of volumes. (adapted from CiTO; EPrint Type vocabulary)</xs:documentation>
								<xs:appinfo>
									<label>Book</label>
									<exactMatch>http://purl.org/coar/resource_type/c_2f33</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="bookPart">
							<xs:annotation>
								<xs:documentation>A defined chapter or section of a book, usually with a separate title or number.</xs:documentation>
								<xs:appinfo>
									<label>Book part</label>
									<exactMatch>ms:inBook</exactMatch>
									<exactMatch>http://purl.org/coar/resource_type/c_3248</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="review">
							<xs:annotation>
								<xs:documentation>A review of others' published work.</xs:documentation>
								<xs:appinfo>
									<label>Review</label>
									<exactMatch>http://purl.org/coar/resource_type/c_efa0</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conferenceObject">
							<xs:annotation>
								<xs:documentation>All kind of digital resources contributed to a conference, like conference presentation (slides), conference report, conference lecture, abstracts, demonstrations. For conference papers, posters or proceedings the specific concepts should be used..</xs:documentation>
								<xs:appinfo>
									<label>Conference object</label>
									<exactMatch>http://purl.org/coar/resource_type/c_c94f</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="lecture">
							<xs:annotation>
								<xs:documentation>A transcription of a talk delivered during an academic event.</xs:documentation>
								<xs:appinfo>
									<label>Lecture</label>
									<exactMatch>http://purl.org/coar/resource_type/c_8544</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="workingPaper">
							<xs:annotation>
								<xs:documentation>A working paper or preprint is a report on research that is still on-going or which has not yet been accepted for publication.</xs:documentation>
								<xs:appinfo>
									<label>Working paper</label>
									<exactMatch>http://purl.org/coar/resource_type/c_8042</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="prePrint">
							<xs:annotation>
								<xs:documentation>Pre-print describes the first draft of the article - before peer-review, even before any contact with a publisher. This use is common amongst academics for whom the key modification of an article is the peer-review process. Another use of the term pre-print is for the finished article, reviewed and amended, ready and accepted for publication - but separate from the version that is type-set or formatted by the publisher. This use is more common amongst publishers, for whom the final and significant stage of modification to an article is the arrangement of the material for putting to print.</xs:documentation>
								<xs:appinfo>
									<label>Preprint</label>
									<exactMatch>http://purl.org/coar/resource_type/c_816b</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="report">
							<xs:annotation>
								<xs:documentation>A report is a separately published record of research findings, research still in progress, or other technical findings, usually bearing a report number and sometimes a grant number assigned by the funding agency. Also, an official record of the activities of a committee or corporate entity, the proceedings of a government body, or an investigation by an agency, whether published or private, usually archived or submitted to a higher authority, voluntarily or under mandate. In a more general sense, any formal account of facts or information related to a specific event or phenomenon, sometimes given at regular intervals.</xs:documentation>
								<xs:appinfo>
									<label>Report</label>
									<exactMatch>http://purl.org/coar/resource_type/c_93fc</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="annotation">
							<xs:annotation>
								<xs:documentation>An annotation in the sense of a legal note is a legally explanatory comment on a decision handed down by a court or arbitral tribunal.</xs:documentation>
								<xs:appinfo>
									<label>Annotation</label>
									<userTip>This is to be used only for annotations of the scholarly or legal type described in the definition, and not for the annotated versions of the document that are output of annotation tools</userTip>
									<exactMatch>http://purl.org/coar/resource_type/c_1162</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="contributionToJournal">
							<xs:annotation>
								<xs:documentation>A contribution to a journal denotes a work published in a journal. If applicable sub-terms should be chosen.</xs:documentation>
								<xs:appinfo>
									<label>Contribution to journal</label>
									<exactMatch>http://purl.org/coar/resource_type/c_3e5a</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="patent">
							<xs:annotation>
								<xs:documentation>A patent or patent application.</xs:documentation>
								<xs:appinfo>
									<label>Patent</label>
									<exactMatch>http://purl.org/coar/resource_type/c_15cd</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conferencePaper">
							<xs:annotation>
								<xs:documentation>A conference paper that is submitted to a conference and presented to the audience. The conference paper is published in proceedings.</xs:documentation>
								<xs:appinfo>
									<label>Conference paper</label>
									<exactMatch>http://purl.org/coar/resource_type/c_5794</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conferencePoster">
							<xs:annotation>
								<xs:documentation>A conference poster that is submitted to a conference and presented there at a poster presentation. The conference poster is published in proceedings.</xs:documentation>
								<xs:appinfo>
									<label>Conference poster</label>
									<exactMatch>http://purl.org/coar/resource_type/c_6670</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="technicalDocumentation">
							<xs:annotation>
								<xs:documentation>Technical documentation refers to any type of documentation that describes handling, functionality and architecture of a technical product or a product under development or use.</xs:documentation>
								<xs:appinfo>
									<label>Technical documentation</label>
									<exactMatch>http://purl.org/coar/resource_type/c_71bd</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="technicalReport">
							<xs:annotation>
								<xs:documentation>A technical report is a document that records the procedure adopted and results obtained from a scientific or technical activity or investigation.</xs:documentation>
								<xs:appinfo>
									<label>Technical report</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18gh</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="bibliography">
							<xs:annotation>
								<xs:documentation>A systematic list or enumeration of written works by a specific author or on a given subject.</xs:documentation>
								<xs:appinfo>
									<label>Bibliography</label>
									<exactMatch>http://purl.org/coar/resource_type/c_86bc</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conferenceProceedings">
							<xs:annotation>
								<xs:documentation>Conference proceedings is the official record of a conference meeting. It is a collection of documents which corresponds to the presentations given at the conference. It may include additional content.</xs:documentation>
								<xs:appinfo>
									<label>Conference proceedings</label>
									<exactMatch>http://purl.org/coar/resource_type/c_f744</exactMatch>
									<exactMatch>ms:proceedings</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conferencePaperNotInProceedings">
							<xs:annotation>
								<xs:documentation>A conference paper that is submitted to a conference and presented to the audience. The conference paper is not published in proceedings.</xs:documentation>
								<xs:appinfo>
									<label>Conference paper not in proceedings</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18cp</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="conferencePosterNotInProceedings">
							<xs:annotation>
								<xs:documentation>A conference poster that is submitted to a conference and presented there at a poster presentation. The conference poster is not published in proceedings.</xs:documentation>
								<xs:appinfo>
									<label>Conference poster not in proceedings</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18co</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="periodical">
							<xs:annotation>
								<xs:documentation>A periodical is a publication issued on a regular and ongoing basis as a series of issues. (Adapted from fabio)</xs:documentation>
								<xs:appinfo>
									<label>Periodical</label>
									<exactMatch>http://purl.org/coar/resource_type/c_2659</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="journal">
							<xs:annotation>
								<xs:documentation>A periodical of (academic) journal articles. (Adapted from bibo)</xs:documentation>
								<xs:appinfo>
									<label>Journal</label>
									<exactMatch>http://purl.org/coar/resource_type/c_0640</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="reviewArticle">
							<xs:annotation>
								<xs:documentation>A review article is a secondary source, that is, it is written about other articles, and does not report original research of its own. (adapted from http://apus.libanswers.com/faq/2324)</xs:documentation>
								<xs:appinfo>
									<label>Review article</label>
									<exactMatch>http://purl.org/coar/resource_type/c_dcae04bc</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="researchArticle">
							<xs:annotation>
								<xs:documentation>A research article is a primary source, that is, it reports the methods and results of an original study performed by the authors. (adapted from http://apus.libanswers.com/faq/2324)</xs:documentation>
								<xs:appinfo>
									<label>Research article</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18gh</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="editorial">
							<xs:annotation>
								<xs:documentation>A brief essay expressing the opinion or position of the chief editor(s) of a (academic) journal with respect to a current political, social, cultural, or professional issue. Adapted from ODLIS</xs:documentation>
								<xs:appinfo>
									<label>Editorial</label>
									<exactMatch>http://purl.org/coar/resource_type/c_b239</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="dataPaper">
							<xs:annotation>
								<xs:documentation>A data paper is a scholarly publication describing a particular dataset or group of dataset, published in the form of a peer-reviewed article in a scholarly journal. The main purpose of a data paper is to describe data, the circumstances of their collection, and information related to data features, access and potential reuse. Adapted from https://en.wikipedia.org/wiki/Data_paper and http://www.gbif.org/publishing-data/data-papers</xs:documentation>
								<xs:appinfo>
									<label>Data paper</label>
									<exactMatch>http://purl.org/coar/resource_type/c_beb9</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="letterToTheEditor">
							<xs:annotation>
								<xs:documentation>A letter to the editor is a letter sent to a periodical about issues of concern from its readers. (adapted from Wikipedia)</xs:documentation>
								<xs:appinfo>
									<label>Letter to the editor</label>
									<exactMatch>http://purl.org/coar/resource_type/c_545b</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="reportPart">
							<xs:annotation>
								<xs:documentation>part of a report</xs:documentation>
								<xs:appinfo>
									<label>Report part</label>
									<exactMatch>http://purl.org/coar/resource_type/c_ba1f</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="researchProposal">
							<xs:annotation>
								<xs:documentation>documentation for grant request</xs:documentation>
								<xs:appinfo>
									<label>Research proposal</label>
									<exactMatch>http://purl.org/coar/resource_type/c_93fc</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="internalReport">
							<xs:annotation>
								<xs:documentation>An internal report is a record of findings collected for internal use. It is not designed to be made public and may include confidential or proprietary information.</xs:documentation>
								<xs:appinfo>
									<label>Internal report</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18ww</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="memorandum">
							<xs:annotation>
								<xs:documentation>It is a note, document or other communication that helps the memory by recording events or observations on a topic. A memorandum can have only a certain number of formats; it may have a format specific to an office or institution.</xs:documentation>
								<xs:appinfo>
									<label>Memorandum</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18wz</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="otherTypeOfReport">
							<xs:annotation>
								<xs:documentation>Other types of report may include Business Plans Technical Specifications, data management plans, recommendation reports, white papers, annual reports, auditor's reports, workplace reports, census reports, trip reports, progress reports, investigative reports, budget reports, policy reports, demographic reports, credit reports, appraisal reports, inspection reports, military reports, bound reports, etc.</xs:documentation>
								<xs:appinfo>
									<label>Other type of report</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18wq</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="policyReport">
							<xs:annotation>
								<xs:documentation>A policy report is a type of report that provides an in-depth look at major policy developments and events</xs:documentation>
								<xs:appinfo>
									<label>Policy report</label>
									<exactMatch>http://purl.org/coar/resource_type/c_186u</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="projectDeliverable">
							<xs:annotation>
								<xs:documentation>A project deliverable is an “outcome” as a result of a project that is intended to be delivered to a customer (e.g. funder). Examples of deliverable are report, document, work package or any other building block of an overall project.</xs:documentation>
								<xs:appinfo>
									<label>Project deliverable</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18op</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="reportToFundingAgency">
							<xs:annotation>
								<xs:documentation>A report to a funding agency is a document written by beneficiaries of project grants. The reporting documents can be e.g. periodic reports about progress of scientific and technical work and final report. For deliverables use ‘Project deliverable’.</xs:documentation>
								<xs:appinfo>
									<label>Report to funding agency</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18hj</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="researchReport">
							<xs:annotation>
								<xs:documentation>Research Reports are reports that typically provide an in-depth study of a particular topic or describe the results of a research project.</xs:documentation>
								<xs:appinfo>
									<label>Research report</label>
									<exactMatch>http://purl.org/coar/resource_type/c_18ws</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="bookReview">
							<xs:annotation>
								<xs:documentation>A written review and critical analysis of the content, scope and quality of a book or other monographic work.</xs:documentation>
								<xs:appinfo>
									<label>Book review</label>
									<exactMatch>http://purl.org/coar/resource_type/c_ba08</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="workingPaper">
							<xs:annotation>
								<xs:documentation>A working paper or preprint is a report on research that is still on-going or which has not yet been accepted for publication.</xs:documentation>
								<xs:appinfo>
									<label>Working paper</label>
									<exactMatch>http://purl.org/coar/resource_type/c_8042</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="thesis">
							<xs:annotation>
								<xs:documentation>A thesis or dissertation is a document submitted in support of candidature for an academic degree or professional qualification presenting the author's research and findings.</xs:documentation>
								<xs:appinfo>
									<label>Thesis</label>
									<exactMatch>http://purl.org/coar/resource_type/c_46ec</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="other">
							<xs:annotation>
								<xs:documentation>Use this type when nothing else fits</xs:documentation>
								<xs:appinfo>
									<label>Other</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="identifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:publicationIdentifier" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="titles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="title" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The title of the publication</xs:documentation>
								<xs:appinfo>
									<label>Title</label>
									<exactMatch>dct:title</exactMatch>
									<exactMatch>datacite:title</exactMatch>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ms:myString">
										<xs:attribute name="titleType" use="optional">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="alternativeTitle">
														<xs:annotation>
															<xs:documentation>Value for alternative titles</xs:documentation>
															<xs:appinfo>
																<label>Alternative title</label>
															</xs:appinfo>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="subtitle">
														<xs:annotation>
															<xs:documentation>Value for subtitles of a document</xs:documentation>
															<xs:appinfo>
																<label>Subtitle</label>
															</xs:appinfo>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="translatedTitle">
														<xs:annotation>
															<xs:documentation>Value for translated titles</xs:documentation>
															<xs:appinfo>
																<label>Translated title</label>
															</xs:appinfo>
														</xs:annotation>
													</xs:enumeration>
													<xs:enumeration value="other">
														<xs:annotation>
															<xs:documentation>Value for titletype; to be used when no other value of the recommended list can be used</xs:documentation>
															<xs:appinfo>
																<label>Other</label>
															</xs:appinfo>
														</xs:annotation>
													</xs:enumeration>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
							<xs:unique name="uniqueLang10">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="authors" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="author" type="ms:personInfoType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name(s) of the author(s), preferrably in the format: surname, initials (first name) prefix with optional identifier for persons</xs:documentation>
								<xs:appinfo>
									<label>Author</label>
									<label-plural>Authors</label-plural>
									<recommended>true</recommended>
									<exactMatch>dct:creator</exactMatch>
									<exactMatch>dataCite:creator</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="contributors" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="contributor" type="ms:actorInfoType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The identifier of the contributor, preferrably in the format: surname, initials (first name) prefix or the unique identifier of the author</xs:documentation>
								<xs:appinfo>
									<label>Contributor</label>
									<label-plural>Contributors</label-plural>
									<exactMatch>dct:contributor</exactMatch>
									<exactMatch>datacite:contributor</exactMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="publicationDate" type="ms:dateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The publication date or, for an unpublished work, the date it was written</xs:documentation>
					<xs:appinfo>
						<label>Publication date</label>
						<recommended>true</recommended>
						<exactMatch>dct:created</exactMatch>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:publisher" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:journal" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inBook" type="ms:relatedDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The title or identifier of a book in which a publication appears (e.g. as a chapter, as article in a collection of articles, conference proceedings etc.)</xs:documentation>
					<xs:appinfo>
						<label>In book</label>
						<usage>Mandatory if publicationType=bookPart</usage>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="volume" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the volume of a journal or multivolume book</xs:documentation>
					<xs:appinfo>
						<label>Volume</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="series" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of a series or set of books. When citing an entire book, the title field gives its title and an optional series field gives the name of a series or multi-volume set in which the book is published</xs:documentation>
					<xs:appinfo>
						<label>Series</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pages" minOccurs="0">
				<xs:annotation>
					<xs:documentation>One or more page numbers or range of page numbers</xs:documentation>
					<xs:appinfo>
						<label>Pages</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="edition" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The edition of a book</xs:documentation>
					<xs:appinfo>
						<label>Edition</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="conference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the conference in which the document has been presented</xs:documentation>
					<xs:appinfo>
						<label>Conference</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="distributions">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:documentDistributionInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="documentLanguages" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="documentLanguage" type="ms:languageType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The language the document is written in (according to the IETF BCP47 guidelines)</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<label>Language of the document</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subjects" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:subject" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Subject or topic of the document</xs:documentation>
								<xs:appinfo>
									<label>Subject / topic</label>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="keywords" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:keyword" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Words used for indexing of the document</xs:documentation>
								<xs:appinfo>
									<label>Keyword</label>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="fullText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full text of the publication in simple text format</xs:documentation>
					<xs:appinfo>
						<label>Full text</label>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="abstracts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="abstract" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The abstract of the document in plain text format; the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
								<xs:appinfo>
									<label>Abstract</label>
									<exactMatch>dct:description</exactMatch>
									<closeMatch>http://hdl.handle.net/11459/CCR_C-2520_9eeedfb4-47d3-ddee-cfcb-99ac634bf1db (ccr:descriptionContext)</closeMatch>
									<closeMatch>datacite:description descriptionType="Abstract"</closeMatch>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="10000"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang159">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="fundingProjects" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fundingProject" type="ms:projectInfoType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The project that has been responsible for the creation of the publication</xs:documentation>
								<xs:appinfo>
									<label>Funding project</label>
									<broadMatch>dct:relation</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sizes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sizeInfo" type="ms:sizeInfoType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Size of the publication (e.g. number of words, pages etc.)</xs:documentation>
								<xs:appinfo>
									<label>Size</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="relations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:relationInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="annotatedDocumentInfoType">
		<xs:annotation>
			<xs:documentation>Base type for annotated documents (single files); combination of raw publication (with link to it) and the annotated file</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rawPublication" type="ms:relatedDocumentInfoType"/>
			<xs:element ref="ms:annotationInfo"/>
		</xs:sequence>
	</xs:complexType>
	<!-- definition of elements -->
	<xs:element name="documentMetadataRecord">
		<xs:annotation>
			<xs:documentation>Root element for metadata records of single files (documents); groups metadata header and information about the document itself</xs:documentation>
			<xs:appinfo>
				<label>Document metadata record</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ms:baseMetadataRecord">
			<xs:sequence>
				<xs:element name="document">
					<xs:annotation>
						<xs:documentation>Root element for documents (single files); choice among raw publications and annotated publications</xs:documentation>
						<xs:appinfo>
							<label>Document</label>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element ref="ms:publication"/>
							<xs:element ref="ms:annotatedPublication"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publication" type="ms:documentInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on a document in a structured format; it can be used both for published or unpublished documents</xs:documentation>
			<xs:appinfo>
				<label>Publication</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="annotatedPublication" type="ms:annotatedDocumentInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on annotated documents (publications), with a link to the record of the raw publication and information about the annotation</xs:documentation>
			<xs:appinfo>
				<label>Annotated publication</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="journal" type="ms:journalInfoType">
		<xs:annotation>
			<xs:documentation>Information about the journal where the publication has appeared</xs:documentation>
			<xs:appinfo>
				<label>Journal</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="repository" type="ms:repositoryInfoType">
		<xs:annotation>
			<xs:documentation>Information about the repository where the publication is deposited</xs:documentation>
			<xs:appinfo>
				<label>Repository</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:attribute name="contributorType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="editor"/>
				<xs:enumeration value="translator"/>
				<xs:enumeration value="other"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:schema>
