OMTD-SHARE v200 XSD/OMTD-SHARE-GlobalTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0" xml:lang="en">
	<xs:include schemaLocation="./OMTD-SHARE-ISOVocabularies.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-Actors.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-Distributions.xsd"/>
	<!-- definition of global simple types -->
	<xs:simpleType name="httpURI">
		<xs:annotation>
			<xs:documentation>Base type to be used for url's, ftp's, secure url's</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="http://.*"/>
			<xs:pattern value="https://.*"/>
			<xs:pattern value="ftp://.*"/>
			<xs:pattern value="www.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="emailAddress">
		<xs:annotation>
			<xs:documentation>Base type for validating email addresses</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:pattern value="[^@]+@[^\.]+\..+|"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- definition of reusable simpleTypes specific to resources -->
	<xs:simpleType name="processMode">
		<xs:annotation>
			<xs:documentation>Base type for all modes of processing (e.g. annotation, conversion, creation etc.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:enumeration value="manual">
				<xs:annotation>
					<xs:documentation>For processes performed only manually, without automatic means or aids</xs:documentation>
					<xs:appinfo>
						<label>Manual</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="automatic">
				<xs:annotation>
					<xs:documentation>For processes performed only with automatic means or aids</xs:documentation>
					<xs:appinfo>
						<label>Automatic</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mixed">
				<xs:annotation>
					<xs:documentation>For processes performed in a mixed way, using manual and automatic means</xs:documentation>
					<xs:appinfo>
						<label>Mixed</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="interactive">
				<xs:annotation>
					<xs:documentation>For processes performed interactively</xs:documentation>
					<xs:appinfo>
						<label>Interactive</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- definition of simple types for attributes -->
	<xs:simpleType name="classificationSchemeName">
		<xs:annotation>
			<xs:documentation>Base type for listing recommended/popular classification schemes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DDC">
				<xs:annotation>
					<xs:documentation>Dewey Decimal Classification system; https://www.oclc.org/dewey.en.html</xs:documentation>
					<xs:appinfo>
						<label>Dewey Decimal Classification</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UDC">
				<xs:annotation>
					<xs:documentation>Universal Decimal Classification system; for the Linked Data version, cf. http://udcdata.info/</xs:documentation>
					<xs:appinfo>
						<label>Universal Decimal Classification</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EuroVoc">
				<xs:annotation>
					<xs:documentation>EuroVoc, the EU's multilingual thesaurus; various downloadable versions at http://data.europa.eu/euodp/en/data/dataset/eurovoc</xs:documentation>
					<xs:appinfo>
						<label>EuroVoc</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LCSH">
				<xs:annotation>
					<xs:documentation>Library of Congress Subject Headings; cf. http://id.loc.gov/authorities/subjects.html</xs:documentation>
					<xs:appinfo>
						<label>Library of Congress Subject Headings</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DK-5">
				<xs:annotation>
					<xs:documentation>DK-5; Linked Data version at https://opensource.dbc.dk/linked-data/dk5-linked-data</xs:documentation>
					<xs:appinfo>
						<label>DK-5</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MeSH">
				<xs:annotation>
					<xs:documentation>Medical Subject Headlings; downloadable versions at https://www.nlm.nih.gov/mesh/download_mesh.html</xs:documentation>
					<xs:appinfo>
						<label>Medical Subject Headings</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANC_classification">
				<xs:annotation>
					<xs:documentation>American National Corpus controlled vocabulary for text classification; cf. http://www.anc.org/</xs:documentation>
					<xs:appinfo>
						<label>American National Corpus classification system</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BNC_classification">
				<xs:annotation>
					<xs:documentation>British National Corpus controlled vocabulary for text classification; cf. http://www.natcorp.ox.ac.uk/docs/URG/ subsections on selection and descriptive features</xs:documentation>
					<xs:appinfo>
						<label>British National Corpus classification system</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NLK_classification"/>
			<xs:enumeration value="PAROLE_topicClassification">
				<xs:annotation>
					<xs:documentation>Parole topic classification system; used for the consistent classification of text corpora in the LE-PAROLE project</xs:documentation>
					<xs:appinfo>
						<label>PAROLE topic classification system</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAROLE_genreClassification">
				<xs:annotation>
					<xs:documentation>Parole genre classification system; used for the consistent classification of text corpora in the LE-PAROLE project</xs:documentation>
					<xs:appinfo>
						<label>PAROLE genre classification system</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="other">
				<xs:annotation>
					<xs:documentation>Value for classificationSchemeName, to be used when the desired value is not included in the listed values</xs:documentation>
					<xs:appinfo>
						<label>Other</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="conformanceToStandardsBestPractices">
		<xs:annotation>
			<xs:documentation>List of standards and best practices used for annotation for formats and content specification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:enumeration value="AgroVoc"/>
			<xs:enumeration value="ALVIS"/>
			<xs:enumeration value="ARGO"/>
			<xs:enumeration value="BML"/>
			<xs:enumeration value="CES"/>
			<xs:enumeration value="DKPro_Core"/>
			<xs:enumeration value="EAGLES"/>
			<xs:enumeration value="EDAMontology"/>
			<xs:enumeration value="ELSST"/>
			<xs:enumeration value="EML"/>
			<xs:enumeration value="EMMA"/>
			<xs:enumeration value="GATE"/>
			<xs:enumeration value="GESIS"/>
			<xs:enumeration value="GMX"/>
			<xs:enumeration value="GrAF"/>
			<xs:enumeration value="HamNoSys"/>
			<xs:enumeration value="HASSET"/>
			<xs:enumeration value="InkML"/>
			<xs:enumeration value="ILSP_NLP"/>
			<xs:enumeration value="ISO12620"/>
			<xs:enumeration value="ISO16642"/>
			<xs:enumeration value="ISO1987"/>
			<xs:enumeration value="ISO26162"/>
			<xs:enumeration value="ISO30042"/>
			<xs:enumeration value="ISO704"/>
			<xs:enumeration value="JATS"/>
			<xs:enumeration value="LAF"/>
			<xs:enumeration value="LAPPS"/>
			<xs:enumeration value="Lemon"/>
			<xs:enumeration value="LMF"/>
			<xs:enumeration value="MAF"/>
			<xs:enumeration value="MLIF"/>
			<xs:enumeration value="MOSES"/>
			<xs:enumeration value="MULTEXT"/>
			<xs:enumeration value="MUMIN"/>
			<xs:enumeration value="multimodalInteractionFramework"/>
			<xs:enumeration value="OAXAL"/>
			<xs:enumeration value="OLIA"/>
			<xs:enumeration value="OWL"/>
			<xs:enumeration value="PANACEA"/>
			<xs:enumeration value="pennTreeBank"/>
			<xs:enumeration value="pragueTreebank"/>
			<xs:enumeration value="RDF"/>
			<xs:enumeration value="SemAF"/>
			<xs:enumeration value="SemAF_DA"/>
			<xs:enumeration value="SemAF_NE"/>
			<xs:enumeration value="SemAF_SRL"/>
			<xs:enumeration value="SemAF_DS"/>
			<xs:enumeration value="SKOS"/>
			<xs:enumeration value="SRX"/>
			<xs:enumeration value="SynAF"/>
			<xs:enumeration value="TBX"/>
			<xs:enumeration value="TMX"/>
			<xs:enumeration value="TEI"/>
			<xs:enumeration value="TEI_P3"/>
			<xs:enumeration value="TEI_P4"/>
			<xs:enumeration value="TEI_P5"/>
			<xs:enumeration value="TimeML"/>
			<xs:enumeration value="XCES"/>
			<xs:enumeration value="XLIFF"/>
			<xs:enumeration value="UD"/>
			<xs:enumeration value="WordNet"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- definition of global complex types -->
	<xs:complexType name="myString">
		<xs:annotation>
			<xs:documentation>Base type for multilingual elements</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="lang" type="xs:language" default="en">
					<xs:annotation>
						<xs:appinfo>
							<change>false</change>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="dateType">
		<xs:annotation>
			<xs:documentation>Base type to be used for dates, allowing optional day and month</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="day" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional day, always in two-digit format</xs:documentation>
					<xs:appinfo>
						<label>Day</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:totalDigits value="2"/>
						<xs:minExclusive value="01"/>
						<xs:maxExclusive value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="month" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional month; to be used in two-digit format</xs:documentation>
					<xs:appinfo>
						<label>Month</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:minExclusive value="01"/>
						<xs:maxExclusive value="12"/>
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="year" minOccurs="1">
				<xs:annotation>
					<xs:documentation>for year; to be used with four digits always</xs:documentation>
					<xs:appinfo>
						<label>Year</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:minExclusive value="1400"/>
						<xs:maxExclusive value="2100"/>
						<xs:totalDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dateRangeType">
		<xs:annotation>
			<xs:documentation>Base type to be used for range of dates (time periods)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ms:startDate"/>
			<xs:element ref="ms:endDate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dateCombinationType">
		<xs:annotation>
			<xs:documentation>Base type to be used for choice betwwen range of dates and exact date</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="ms:date"/>
			<xs:element ref="ms:dateRange"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="languageType">
		<xs:annotation>
			<xs:documentation>The container for the language elements (i.e. identifier according to BCP47 guidelines and all the elements that produce this id)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="languageTag">
				<xs:annotation>
					<xs:documentation>The identifier of the language that is included in the resource or supported by the component, according to the IETF BCP47 guidelines</xs:documentation>
					<xs:appinfo>
						<label>Language</label>
						<usage>in the XSD there is no validation as to the validity of the id, but the system validates the input metadata and the editor produces the correct id on the basis of the subelements (language, script, region and variant)</usage>
						<sameAs>dct:language</sameAs>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:element name="languageId" type="ms:languageIdType">
					<xs:annotation>
						<xs:documentation>The identifier of the language subelement according to the IETF BCP47 guidelines (i.e. ISO 639-3 codes when existing supplemented with ISO 639-3 codes for new entries)</xs:documentation>
						<xs:appinfo>
							<label>Language identifier</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="scriptId" type="ms:scriptIdType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The identifier of the script subelement according to the IETF BCP47 guidelines (i.e. ISO 15924 codes)</xs:documentation>
						<xs:appinfo>
							<label>Script identifier</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="regiontId" type="ms:regionIdType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The identifier of the region subelement according to the IETF BCP47 guidelines (i.e. ISO 3166 codes)</xs:documentation>
						<xs:appinfo>
							<label>Region identifier</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="variantId" type="ms:variantIdType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The identifier of the variant subelement according to the IETF BCP47 guidelines</xs:documentation>
						<xs:appinfo>
							<label>Variant identifier</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<!-- definition of identifier types -->
	<xs:complexType name="metadataIdentifierType">
		<xs:annotation>
			<xs:documentation>Base type for identifier schemes for metadata records</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="metadataIdentifierSchemeName" use="required">
					<xs:annotation>
						<xs:documentation>Specifies the name of the scheme according to which the metadata record identifier is assigned by the authority that issues it</xs:documentation>
						<xs:appinfo>
							<label>Metadata identifier scheme name</label>
							<label-plural>Metadata identifier scheme names</label-plural>
							<userTip>For elements with controlled vocabularies: If the desired value is not included in the listed values, please use "other"</userTip>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Handle">
								<xs:annotation>
									<xs:documentation>Value for metadataIdentifierSchemeName, referring to the Handle system for identifiers (https://www.handle.net/)</xs:documentation>
									<xs:appinfo>
										<label>Handle identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PURL">
								<xs:annotation>
									<xs:documentation>Value for metadataIdentifierSchemeName, referring to PURL (Persistent URL, https://archive.org/services/purl/help)</xs:documentation>
									<xs:appinfo>
										<label>PURL (Persistent URL)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="URL">
								<xs:annotation>
									<xs:documentation>Value for metadataIdentifierSchemeName, referring to the URL (Uniform Resource Locator, https://en.wikipedia.org/wiki/URL)</xs:documentation>
									<xs:appinfo>
										<label>URL (Uniform Resource Locator)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="URN">
								<xs:annotation>
									<xs:documentation>Value for metadataIdentifierSchemeName, referring to the URN (Uniform Resource Name, https://en.wikipedia.org/wiki/Uniform_Resource_Name)</xs:documentation>
									<xs:appinfo>
										<label>URN (Uniform Resource Name)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="other">
								<xs:annotation>
									<xs:documentation>Value for metadataIdentifierSchemeName, to be used when the desired value is not included in the listed values</xs:documentation>
									<xs:appinfo>
										<label>Other</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute ref="ms:schemeURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="resourceIdentifierType">
		<xs:annotation>
			<xs:documentation>Base type for identifier schemes for resources (corpora, lexical/conceptual resources etc.)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="resourceIdentifierSchemeName" use="required">
					<xs:annotation>
						<xs:documentation>Specifies the name of the scheme according to which the resource identifier is assigned by the authority that issues it (e.g. DOI, ISLRN etc.)</xs:documentation>
						<xs:appinfo>
							<label>Resource identifier scheme name</label>
							<label-plural>Resource identifier scheme names</label-plural>
							<userTip>For elements with controlled vocabularies: If the desired value is not included in the listed values, please use "other"</userTip>
							<default_components>maven</default_components>
							<change>true</change>
							<commentForSource>values taken mostly from DataCite with additions from OpenAIRE previous scheme and new values for components and language resources</commentForSource>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DOI">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the DOI system (Digital Object Identifier, https://www.doi.org/)</xs:documentation>
									<xs:appinfo>
										<label>DOI (Digital Object Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ISLRN">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to ISLRN (International Standard Language Resource Number, http://www.islrn.org/)</xs:documentation>
									<xs:appinfo>
										<label>ISLRN (International Standard Language Resource Number)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Handle">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the Handle system for identifiers (https://www.handle.net/)</xs:documentation>
									<xs:appinfo>
										<label>Handle identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ARK">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the Archival Resource Key identifiers (https://confluence.ucop.edu/display/Curation/ARK)</xs:documentation>
									<xs:appinfo>
										<label>ARK (Archival Resource Key)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="arXiv">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the identifiers issued by arXiv (https://arxiv.org/)</xs:documentation>
									<xs:appinfo>
										<label>arXiv identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="bibcode">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to bibcode identifiers, i.e. a type of identifier used for literature references by astronomical data systems (Bibliographic Code, http://adsabs.harvard.edu/abs_doc/help_pages/data.html)</xs:documentation>
									<xs:appinfo>
										<label>bibcode</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="EAN13">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to EAN (International Article Number, also known as European Article Number) and more specifically to the EAN 13 standard (cf. https://en.wikipedia.org/wiki/International_Article_Number)</xs:documentation>
									<xs:appinfo>
										<label>EAN 13 (European Article Number 13 standard)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="EISSN">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the e-ISSN (electronic International Standard Serial Number, https://en.wikipedia.org/wiki/International_Standard_Serial_Number)</xs:documentation>
									<xs:appinfo>
										<label>e-ISSN</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ISBN">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the ISBN (International Standard Book Number, https://www.isbn-international.org/content/what-isbn)</xs:documentation>
									<xs:appinfo>
										<label>ISBN (International Standard Book Number)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ISSN">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the ISSN (International Standard Serial Number, http://www.issn.org/)</xs:documentation>
									<xs:appinfo>
										<label>ISSN (International Standard Serial Number)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ISTC">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the ISTC (International Standard Text Code, http://www.istc-international.org/)</xs:documentation>
									<xs:appinfo>
										<label>ISTC (International Standard Text Code)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="LISSN">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the linking ISSN or ISSN-L</xs:documentation>
									<xs:appinfo>
										<label>LISSN (ISSN-L)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="LSID">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the LSID (Life Sciences Identifier, http://www.webcitation.org/getfile?fileid=27fcd073ea70199946ace15c6868520be2cab2ab)</xs:documentation>
									<xs:appinfo>
										<label>LSID (Life Sciences Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PURL">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to PURL (Persistent URL, https://archive.org/services/purl/help)</xs:documentation>
									<xs:appinfo>
										<label>PURL (Persistent URL)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="UPC">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to UPC (Universal Product Number, http://www.gtin.info/upc/)</xs:documentation>
									<xs:appinfo>
										<label>UPC (Universal Product Number)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="URL">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the URL (Uniform Resource Locator, https://en.wikipedia.org/wiki/URL)</xs:documentation>
									<xs:appinfo>
										<label>URL (Uniform Resource Locator)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="URN">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the URN (Uniform Resource Name, https://en.wikipedia.org/wiki/Uniform_Resource_Name)</xs:documentation>
									<xs:appinfo>
										<label>URN (Uniform Resource Name)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="OAI">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the OAI identifier (Open Archives Initiative, http://www.openarchives.org/OAI/2.0/guidelines-oai-identifier.htm)</xs:documentation>
									<xs:appinfo>
										<label>OAI identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PMCID">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the PMCID (PubMed Central Identifier, https://www.ncbi.nlm.nih.gov/pmc/pmctopmid/)</xs:documentation>
									<xs:appinfo>
										<label>PMCID (PubMed Central Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PMID">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the PMID (PubMed Identifier, https://www.ncbi.nlm.nih.gov/pmc/pmctopmid/)</xs:documentation>
									<xs:appinfo>
										<label>PMID (PubMed Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="maven">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the Maven coordinates (cf. Maven POM, https://maven.apache.org/pom.html#Maven_Coordinates)</xs:documentation>
									<xs:appinfo>
										<label>Maven id</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="docker">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the Docker (https://hub.docker.com/help/)</xs:documentation>
									<xs:appinfo>
										<label>Docker id</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="other">
								<xs:annotation>
									<xs:documentation>Value for resourceSchemeName, to be used when the desired value is not included in the listed values</xs:documentation>
									<xs:appinfo>
										<label>Other</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<!--
							<xs:enumeration value="fct">
								<xs:annotation>
									<xs:documentation>Value for resourceIdentifierSchemeName, referring to the FCT (Fundação para a Ciência e Tecnologia – the Portuguese Foundation for Science and Technology)</xs:documentation>
									<xs:appinfo>
										<label>FCT</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
-->
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute ref="ms:schemeURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="publicationIdentifierType">
		<xs:annotation>
			<xs:documentation>Base type for identifier schemes for publications</xs:documentation>
			<xs:appinfo>
				<commentForSource>values taken mostly from DataCite with additions from OpenAIRE previous scheme</commentForSource>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="publicationIdentifierSchemeName" use="required">
					<xs:annotation>
						<xs:documentation>Specifies the name of the scheme according to which the publication identifier is assigned by the authority that issues it (e.g. DOI, PubMed Central etc.)</xs:documentation>
						<xs:appinfo>
							<label>Publication identifier scheme name</label>
							<label-plural>Publication identifier scheme names</label-plural>
							<userTip>For elements with controlled vocabularies: If the desired value is not included in the listed values, please use "other"</userTip>
							<default>DOI</default>
							<change>true</change>
							<commentForSource>values taken mostly from DataCite with additions from OpenAIRE previous scheme</commentForSource>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DOI">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the DOI system (Digital Object Identifier, https://www.doi.org/)</xs:documentation>
									<xs:appinfo>
										<label>DOI (Digital Object Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Handle">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the Handle system for identifiers (https://www.handle.net/)</xs:documentation>
									<xs:appinfo>
										<label>Handle identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ARK">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the Archival Resource Key identifiers (https://confluence.ucop.edu/display/Curation/ARK)</xs:documentation>
									<xs:appinfo>
										<label>ARK (Archival Resource Key)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="arXiv">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the identifiers issued by arXiv (https://arxiv.org/)</xs:documentation>
									<xs:appinfo>
										<label>arXiv identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="bibcode">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to bibcode identifiers, i.e. a type of identifier used for literature references by astronomical data systems (Bibliographic Code, http://adsabs.harvard.edu/abs_doc/help_pages/data.html)</xs:documentation>
									<xs:appinfo>
										<label>bibcode</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="EAN13">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to EAN (International Article Number, also known as European Article Number) and more specifically to the EAN 13 standard (cf. https://en.wikipedia.org/wiki/International_Article_Number)</xs:documentation>
									<xs:appinfo>
										<label>EAN 13 (European Article Number 13 standard)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="EISSN">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the e-ISSN (electronic International Standard Serial Number, https://en.wikipedia.org/wiki/International_Standard_Serial_Number)</xs:documentation>
									<xs:appinfo>
										<label>e-ISSN</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ISBN">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the ISBN (International Standard Book Number, https://www.isbn-international.org/content/what-isbn)</xs:documentation>
									<xs:appinfo>
										<label>ISBN (International Standard Book Number)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ISSN">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the ISSN (International Standard Serial Number, http://www.issn.org/)</xs:documentation>
									<xs:appinfo>
										<label>ISSN (International Standard Serial Number)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ISTC">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the ISTC (International Standard Text Code, http://www.istc-international.org/)</xs:documentation>
									<xs:appinfo>
										<label>ISTC (International Standard Text Code)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="LISSN">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the linking ISSN or ISSN-L</xs:documentation>
									<xs:appinfo>
										<label>LISSN (ISSN-L)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="LSID">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the LSID (Life Sciences Identifier, http://www.webcitation.org/getfile?fileid=27fcd073ea70199946ace15c6868520be2cab2ab)</xs:documentation>
									<xs:appinfo>
										<label>LSID (Life Sciences Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PURL">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to PURL (Persistent URL, https://archive.org/services/purl/help)</xs:documentation>
									<xs:appinfo>
										<label>PURL (Persistent URL)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="UPC">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to UPC (Universal Product Number, http://www.gtin.info/upc/)</xs:documentation>
									<xs:appinfo>
										<label>UPC (Universal Product Number)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="URL">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the URL (Uniform Resource Locator, https://en.wikipedia.org/wiki/URL)</xs:documentation>
									<xs:appinfo>
										<label>URL (Uniform Resource Locator)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="URN">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the URN (Uniform Resource Name, https://en.wikipedia.org/wiki/Uniform_Resource_Name)</xs:documentation>
									<xs:appinfo>
										<label>URN (Uniform Resource Name)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="OAI">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the OAI identifier (Open Archives Initiative, http://www.openarchives.org/OAI/2.0/guidelines-oai-identifier.htm)</xs:documentation>
									<xs:appinfo>
										<label>OAI identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PMCID">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the PMCID (PubMed Central Identifier, https://www.ncbi.nlm.nih.gov/pmc/pmctopmid/)</xs:documentation>
									<xs:appinfo>
										<label>PMCID (PubMed Central Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PMID">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the PMID (PubMed Identifier, https://www.ncbi.nlm.nih.gov/pmc/pmctopmid/)</xs:documentation>
									<xs:appinfo>
										<label>PMID (PubMed Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="other">
								<xs:annotation>
									<xs:documentation>Value for resourceSchemeName, to be used when the desired value is not included in the listed values</xs:documentation>
									<xs:appinfo>
										<label>Other</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<!--
							<xs:enumeration value="fct">
								<xs:annotation>
									<xs:documentation>Value for publicationIdentifierSchemeName, referring to the FCT (Fundação para a Ciência e Tecnologia – the Portuguese Foundation for Science and Technology)</xs:documentation>
									<xs:appinfo>
										<label>FCT</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
-->
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="journalIdentifierType">
		<xs:annotation>
			<xs:documentation>Base type for identifier schemes for journals</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="journalIdentifierSchemeName" use="required">
					<xs:annotation>
						<xs:documentation>Specifies the name of the scheme according to which the journal identifier is assigned by the authority that issues it</xs:documentation>
						<xs:appinfo>
							<label>Journal identifier scheme name</label>
							<label-plural>Journal identifier scheme names</label-plural>
							<userTip>For elements with controlled vocabularies: If the desired value is not included in the listed values, please use "other"</userTip>
							<default>DOI</default>
							<change>true</change>
							<commentForSource>values taken mostly from DataCite with additions from OpenAIRE previous scheme</commentForSource>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DOI">
								<xs:annotation>
									<xs:documentation>Value for journalIdentifierSchemeName, referring to the DOI system (Digital Object Identifier, https://www.doi.org/)</xs:documentation>
									<xs:appinfo>
										<label>DOI (Digital Object Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Handle">
								<xs:annotation>
									<xs:documentation>Value for journalIdentifierSchemeName, referring to the Handle system for identifiers (https://www.handle.net/)</xs:documentation>
									<xs:appinfo>
										<label>Handle identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ISSN">
								<xs:annotation>
									<xs:documentation>Value for journalIdentifierSchemeName, referring to the ISSN (International Standard Serial Number, http://www.issn.org/)</xs:documentation>
									<xs:appinfo>
										<label>ISSN (International Standard Serial Number)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="other">
								<xs:annotation>
									<xs:documentation>Value for journalIdentifierSchemeName, to be used when the desired value is not included in the listed values</xs:documentation>
									<xs:appinfo>
										<label>Other</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute ref="ms:schemeURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="repositoryIdentifierType">
		<xs:annotation>
			<xs:documentation>Base type for identifier schemes for repositories, archives etc.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="repositoryIdentifierSchemeName" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DOI">
								<xs:annotation>
									<xs:documentation>Value for repositoryIdentifierSchemeName, referring to the DOI system (Digital Object Identifier, https://www.doi.org/)</xs:documentation>
									<xs:appinfo>
										<label>DOI (Digital Object Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Handle">
								<xs:annotation>
									<xs:documentation>Value for repositoryIdentifierSchemeName, referring to the Handle system for identifiers (https://www.handle.net/)</xs:documentation>
									<xs:appinfo>
										<label>Handle identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="URL">
								<xs:annotation>
									<xs:documentation>Value for repositoryIdentifierSchemeName, referring to the URL (Uniform Resource Locator, https://en.wikipedia.org/wiki/URL)</xs:documentation>
									<xs:appinfo>
										<label>URL (Uniform Resource Locator)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="OAI">
								<xs:annotation>
									<xs:documentation>Value for repositoryIdentifierSchemeName, referring to the OAI identifier (Open Archives Initiative, http://www.openarchives.org/OAI/2.0/guidelines-oai-identifier.htm)</xs:documentation>
									<xs:appinfo>
										<label>OAI identifier</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="OpenDOAR">
								<xs:annotation>
									<xs:documentation>Value for repositoryIdentifierSchemeName, referring to the OpenDOAR identifier (Directory of Open Access Repositories, http://www.opendoar.org/)</xs:documentation>
									<xs:appinfo>
										<label>OpenDOAR</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="re3data">
								<xs:annotation>
									<xs:documentation>Value for repositoryIdentifierSchemeName, referring to the re3data identifier (Registry of Research Data Repositories, http://www.re3data.org/)</xs:documentation>
									<xs:appinfo>
										<label>re3data</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ROAR">
								<xs:annotation>
									<xs:documentation>Value for repositoryIdentifierSchemeName, referring to the ROAR identifier (Registry of Open Access Repositories, http://roar.eprints.org/)</xs:documentation>
									<xs:appinfo>
										<label>ROAR</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="other">
								<xs:annotation>
									<xs:documentation>Value for repositoryIdentifierSchemeName, to be used when the desired value is not included in the listed values</xs:documentation>
									<xs:appinfo>
										<label>Other</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute ref="ms:schemeURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="personIdentifierType">
		<xs:annotation>
			<xs:documentation>Base type for identifiers for persons</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="personIdentifierSchemeName" use="required">
					<xs:annotation>
						<xs:documentation>Specifies the name of the scheme according to which the person identifier is assigned by the authority that issues it (e.g. ORCID, ScopusId, ResearcherID etc.)</xs:documentation>
						<xs:appinfo>
							<label>Person identifier scheme name</label>
							<label-plural>Person identifier scheme names</label-plural>
							<userTip>For elements with controlled vocabularies: If the desired value is not included in the listed values, please use "other"</userTip>
							<default>orcid</default>
							<change>true</change>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ORCID">
								<xs:annotation>
									<xs:documentation>Value for personIdentifierSchemeName, referring to the ORCID identifier for researchers (https://orcid.org/)</xs:documentation>
									<xs:appinfo>
										<label>ORCID</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ISNI">
								<xs:annotation>
									<xs:documentation>Value for personIdentifierSchemeName, referring to the ISNI authority (International Standard Name Identifier, http://www.isni.org/)</xs:documentation>
									<xs:appinfo>
										<label>ISNI (International Standard Name Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="researcherId">
								<xs:annotation>
									<xs:documentation>Value for personIdentifierSchemeName, referring to the ResearcherID identifier for researchers (http://www.researcherid.com/)</xs:documentation>
									<xs:appinfo>
										<label>ResearcherID</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="scopusId">
								<xs:annotation>
									<xs:documentation>Value for personIdentifierSchemeName, referring to the Scopus identifier for authors (https://www.scopus.com)</xs:documentation>
									<xs:appinfo>
										<label>ScopusID</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="other">
								<xs:annotation>
									<xs:documentation>Value for personIdentifierSchemeName, to be used when the desired value is not included in the listed values</xs:documentation>
									<xs:appinfo>
										<label>Other</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute ref="ms:schemeURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="organizationIdentifierType">
		<xs:annotation>
			<xs:documentation>Base type for identifiers for organizations</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="organizationIdentifierSchemeName" use="required">
					<xs:annotation>
						<xs:documentation>Specifies the name of the scheme according to which the organization identifier is assigned by the authority that issues it</xs:documentation>
						<xs:appinfo>
							<label>Organization identifier scheme name</label>
							<label-plural>Organization identifier scheme names</label-plural>
							<userTip>For elements with controlled vocabularies: If the desired value is not included in the listed values, please use "other"</userTip>
							<commentForSource>Values taken from DataCite (not formally encoded) and OpenAIRE</commentForSource>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ISNI">
								<xs:annotation>
									<xs:documentation>Value for organizationIdentifierSchemeName, referring to the ISNI authority (International Standard Name Identifier, http://www.isni.org/)</xs:documentation>
									<xs:appinfo>
										<label>ISNI (International Standard Name Identifier)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="GRID">
								<xs:annotation>
									<xs:documentation>Value for organizationIdentifierSchemeName, referring to the GRID (Global Research Identifier Database, https://www.grid.ac/)</xs:documentation>
									<xs:appinfo>
										<label>GRID (Global Research Identifier Database)</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="FundRef">
								<xs:annotation>
									<xs:documentation>Value for organizationIdentifierSchemeName, referring to the CrossRef Funder ID (https://www.crossref.org/services/funder-registry/)</xs:documentation>
									<xs:appinfo>
										<label>CrossRef Funder ID</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="other">
								<xs:annotation>
									<xs:documentation>Value for organizationIdentifierSchemeName, to be used when the desired value is not included in the listed values</xs:documentation>
									<xs:appinfo>
										<label>other</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute ref="ms:schemeURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="projectIdentifierType">
		<xs:annotation>
			<xs:documentation>Base type for identifier schemes for projects</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="projectIdentifierSchemeName" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Specifies the name of the scheme according to which the project identifier is assigned by the authority that issues it</xs:documentation>
						<xs:appinfo>
							<label>Project identifier scheme name</label>
							<label-plural>Project identifier scheme names</label-plural>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute ref="ms:schemeURI" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- definition of related entities -->
	<xs:complexType name="actorInfoType">
		<xs:annotation>
			<xs:documentation>Base type for actors/agents; choice between person and organization</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element name="relatedPerson" type="ms:personInfoType">
				<xs:annotation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="relatedGroup" type="ms:groupInfoType">
				<xs:annotation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="relatedOrganization" type="ms:organizationInfoType">
				<xs:annotation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!--
	<xs:complexType name="relatedPersonType">
		<xs:annotation>
			<xs:documentation>Base type for related persons; choice between person names and person identifiers</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="personNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="personName" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name(s) of the person, preferrably in the format: surname, initials (first name) prefix</xs:documentation>
								<xs:appinfo>
									<label>Person name</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang230">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="personIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:personIdentifier" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<relation>one-to-one</relation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="relatedOrganizationType">
		<xs:annotation>
			<xs:documentation>Base type for related organizations; choice between organization names and identifiers</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="organizationNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="organizationName" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name(s) of the organization</xs:documentation>
								<xs:appinfo>
									<label>Organization name</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang290">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="organizationIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:organizationIdentifier" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<relation>one-to-one</relation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
-->
	<xs:complexType name="groupInfoType">
		<xs:annotation>
			<xs:documentation>Base type for groups; group name and affiliations</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="groupNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="groupName" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name(s) of the group</xs:documentation>
								<xs:appinfo>
									<label>Group name</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang1290">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="affiliatedOrganization" type="ms:organizationInfoType">
				<xs:annotation>
					<xs:documentation>The organization to which the group is affiliated</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Affiliated organization</label>
						<label-plural>Affiliated organizations</label-plural>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--
	<xs:complexType name="relatedProjectType">
		<xs:annotation>
			<xs:documentation>Base type for related projects; choice between project names and identifiers</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="projectNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="projectName" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name(s) of the project</xs:documentation>
								<xs:appinfo>
									<label>Project name</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang280">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="projectIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:projectIdentifier" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<relation>one-to-one</relation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
-->
	<!-- from relatedJournal; deprecated 
	<xs:complexType name="journalInfoType">
		<xs:annotation>
			<xs:documentation>Base type for related journals; journal titles and identifiers</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="journalTitles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="journalTitle" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The title(s) of the journal</xs:documentation>
								<xs:appinfo>
									<label>Journal title</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang900">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="journalIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:journalIdentifier" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<relation>one-to-one</relation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
-->
	<xs:complexType name="journalInfoType">
		<xs:annotation>
			<xs:documentation>Base type for journals</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="journalTitles">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="journalTitle" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The full name of the journal</xs:documentation>
								<xs:appinfo>
									<label>Journal title</label>
									<sameAs>dct:title</sameAs>
									<sameAs>http://hdl.handle.net/11459/CCR_C-2545_d873f2ab-2a2f-29d6-a9ab-260cde57f227 (ccr:resourceTitle)</sameAs>
									<sameAs>datacite:title</sameAs>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang222">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="identifiers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:journalIdentifier" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:publisher" minOccurs="0"/>
			<xs:element name="languages" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="journalLanguage" type="ms:languageType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="subjects" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:subject" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rights" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:rightsInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="repositoryInfoType">
		<xs:annotation>
			<xs:documentation>Base type for repositories</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="repositoryNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="repositoryName" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name(s) of the repository</xs:documentation>
								<xs:appinfo>
									<label>Repository name</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang700">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="repositoryIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="repositoryIdentifier" type="ms:repositoryIdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Reference to the identifier used for repositories, archives etc.</xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>Repository identifier</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="relatedResourceType">
		<xs:annotation>
			<xs:documentation>Base type for related resources; sequence of resource names and identifiers</xs:documentation>
			<xs:appinfo>
				<xs:label>Type for related resources</xs:label>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resourceNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:resourceName" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="resourceIdentifiers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resourceIdentifier" type="ms:resourceIdentifierType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
									<relation>one-to-one</relation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="relatedDocumentInfoType">
		<xs:annotation>
			<xs:appinfo>
				<tip>The preferred practice is to provide DOI's or URL links to the relevant documents in the "publicationIdentifier" or a bibtex record in the "unstructured document" field; in this way, automatic linking to the relevant information will be possible</tip>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice>
			<xs:element name="publicationIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:publicationIdentifier" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="documentUnstructured">
				<xs:annotation>
					<xs:documentation>Used to encode a bibliographic record, preferrably in the form of a bibtex record or as a free text description</xs:documentation>
					<xs:appinfo>
						<label>Unstructured document</label>
						<label-plural>Unstructured documents</label-plural>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!-- definition of metadata header -->
	<xs:complexType name="baseMetadataRecord">
		<xs:sequence>
			<xs:element name="metadataHeaderInfo" type="ms:metadataHeaderInfoType">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="metadataHeaderInfoType">
		<xs:annotation>
			<xs:documentation>Base type for metadata header</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="metadataRecordIdentifier" type="ms:metadataIdentifierType">
				<xs:annotation>
					<xs:documentation>A persistent identifier for the metadata record itself</xs:documentation>
					<xs:appinfo>
						<label>Metadata record identifier</label>
						<usage>Irrespective of user input, this must be filled in automatically by the OMTD platform</usage>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="metadataCreationDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>The date of creation of this metadata description</xs:documentation>
					<xs:appinfo>
						<label>Metadata creation date</label>
						<usage>Irrespective of user input, this must be filled in automatically by the OMTD platform</usage>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="metadataCreators" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="metadataCreator" type="ms:personInfoType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on the person that has created the metadata record (for records manually edited)</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Metadata creator</label>
									<usage>Until the user authentication system is integrated, use "John Foufoutos" as the default value</usage>
									<usage_ugc>when the authentication system works, use for this the credentials of the person that made the query for creating the corpora</usage_ugc>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sourceOfMetadataRecord" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Refers to the catalog or repository from which the metadata record has been originated (for harvested records)</xs:documentation>
					<xs:appinfo>
						<label>Source of metadata record</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="collectedFrom" type="ms:repositoryInfoType">
							<xs:annotation>
								<xs:documentation>Refers to the entity (repository, aggregator etc.) from which the metadata record has been harvested</xs:documentation>
								<xs:appinfo>
									<label>Source repository</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="sourceMetadataLink" type="ms:httpURI">
							<xs:annotation>
								<xs:documentation>A link to the original metadata record, in cases of harvesting</xs:documentation>
								<xs:appinfo>
									<label>Original metadata record link</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="relatedMetadataScheme" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Refers to the metadata schema originally used for the description of the resource</xs:documentation>
								<xs:appinfo>
									<label>Original metadata scheme</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="500"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="originalDataProviderInfo" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Refers to the original data provider, in case the metadata record carries information taken from previous repositories/journals/publishers (e.g. in case the record's last source is an aggregator)</xs:documentation>
								<xs:appinfo>
									<label>Original data provider</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="originalDataProviderType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>Refers to the type of the original data provider (repository/journal/publisher/aggregator etc.)</xs:documentation>
											<xs:appinfo>
												<label>Original data provider type</label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="repository"/>
												<xs:enumeration value="journal"/>
												<xs:enumeration value="publisher"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:choice>
										<xs:element name="originalDataProviderRepository" type="ms:repositoryInfoType">
											<xs:annotation>
												<xs:documentation>Information about the repository that has originally provided the metadata record</xs:documentation>
												<xs:appinfo>
													<label>Original data provider (repository)</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="originalDataProviderJournal" type="ms:journalInfoType">
											<xs:annotation>
												<xs:documentation>Information about the journal that has originally provided the metadata record</xs:documentation>
												<xs:appinfo>
													<label>Original data provider (journal)</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="originalDataProviderPublisher" type="ms:organizationInfoType">
											<xs:annotation>
												<xs:documentation>Information about the publisher (organization) that has originally provided the metadata record</xs:documentation>
												<xs:appinfo>
													<label>Original data provider (publisher)</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="userQuery" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The query text that has created the corpus of scholarly publications</xs:documentation>
					<xs:appinfo>
						<label>User query</label>
						<recommended>true</recommended>
						<usage_ugc>Mandatory; must be filled in with the query used for creating the corpus</usage_ugc>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<!--
			<xs:element name="metadataLanguages" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="metadataLanguage" type="ms:languageType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The language in which the metadata description is written according to IETF BCP47 (ISO 639-1 or ISO 639-3 for languages not covered by the first standard)</xs:documentation>
								<xs:appinfo>
									<label>Metadata language</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
-->
			<xs:element name="metadataLastDateUpdated" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date of the last updating of the metadata record</xs:documentation>
					<xs:appinfo>
						<label>Metadata last date updated</label>
						<usage>Automatically inserted by the system</usage>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="revision" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides an account of the revisions in free text or a link to a document with revisions</xs:documentation>
					<xs:appinfo>
						<label>Revision</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- definition of re-usable elements -->
	<xs:element name="date" type="ms:dateType">
		<xs:annotation>
			<xs:documentation>Basic format for dates, with optional day and month and obligatory year</xs:documentation>
			<xs:appinfo>
				<label>Date</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="endDate" type="ms:dateType">
		<xs:annotation>
			<xs:documentation>Basic format for end dates, with optional day and month and obligatory year</xs:documentation>
			<xs:appinfo>
				<label>End date</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="startDate" type="ms:dateType">
		<xs:annotation>
			<xs:documentation>Basic format for start dates, with optional day and month and obligatory year</xs:documentation>
			<xs:appinfo>
				<label>Start date</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="dateRange" type="ms:dateRangeType">
		<xs:annotation>
			<xs:documentation>Basic format for date ranges, allowing combinations of years and full dates</xs:documentation>
			<xs:appinfo>
				<label>Date range</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="subject">
		<xs:annotation>
			<xs:documentation>For resources that are using subject / topic classification</xs:documentation>
			<xs:appinfo>
				<label>Subject</label>
				<closeMatch>Topic</closeMatch>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="classificationSchemeName" type="ms:classificationSchemeName" use="required"/>
					<xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="metadataHeaderInfo" type="ms:metadataHeaderInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the metadata record itself</xs:documentation>
			<xs:appinfo>
				<label>Metadata header</label>
				<usage>Do not show in the editor forms</usage>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="resourceName">
		<xs:annotation>
			<xs:documentation>Specifies the name (full title) by which the resource is known</xs:documentation>
			<xs:appinfo>
				<xs:label>Resource name</xs:label>
				<xs:label-plural>Resource names</xs:label-plural>
				<!--
				<xs:userTip>For multilingual elements: you can repeat the element for the different language versions using the "lang" attribute to specify the language</xs:userTip>
-->
				<usage-ugc>To be created automatically with the following text: "OpenMinTeD subset of [CORE, OpenAIRE, ...] publications"</usage-ugc>
				<change>true</change>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ms:myString">
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
		<xs:unique name="uniqueLang2">
			<xs:selector xpath="."/>
			<xs:field xpath="@lang"/>
		</xs:unique>
	</xs:element>
	<xs:element name="organizationIdentifier" type="ms:organizationIdentifierType">
		<xs:annotation>
			<xs:documentation>Associates an organizationto an identifier, i.e. a string used to uniquely identify it</xs:documentation>
			<xs:appinfo>
				<label>Organization identifier</label>
				<label-plural>Organization identifiers</label-plural>
				<sameAs>dct:identifier</sameAs>
				<!-- we allow for all possible identifiers and not only persistent ones as in CCR -->
				<closeMatch>http://hdl.handle.net/11459/CCR_C-2573_ae7c2548-8a86-ab6e-7099-e28b7697d1a2 (ccr:persistentIdentifier)</closeMatch>
				<sameAs>dataCite:nameIdentifier</sameAs>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="personIdentifier" type="ms:personIdentifierType">
		<xs:annotation>
			<xs:documentation>Associates a person to an identifier (e.g. ORCID, LinkedIn etc.), i.e. a string used to uniquely identify it</xs:documentation>
			<xs:appinfo>
				<label>Person identifier</label>
				<label-plural>Person identifiers</label-plural>
				<sameAs>dct:identifier</sameAs>
				<!-- we allow for all possible identifiers and not only persistent ones as in CCR -->
				<closeMatch>http://hdl.handle.net/11459/CCR_C-2573_ae7c2548-8a86-ab6e-7099-e28b7697d1a2 (ccr:persistentIdentifier)</closeMatch>
				<sameAs>dataCite:nameIdentifier</sameAs>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="publicationIdentifier" type="ms:publicationIdentifierType">
		<xs:annotation>
			<xs:documentation>Reference to a DOI (recommended) or any kind of identifier used for the publication</xs:documentation>
			<xs:appinfo>
				<label>Publication identifier</label>
				<sameAs>dct:identifier</sameAs>
				<!-- we allow for all possible identifiers and not only persistent ones as in CCR -->
				<closeMatch>http://hdl.handle.net/11459/CCR_C-2573_ae7c2548-8a86-ab6e-7099-e28b7697d1a2 (ccr:persistentIdentifier)</closeMatch>
				<!-- currently DataCite only supports DOI's -->
				<narrowMatch>dataCite:identifier</narrowMatch>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="publisher" type="ms:organizationInfoType">
		<xs:annotation>
			<xs:documentation>Information about the publisher</xs:documentation>
			<xs:appinfo>
				<label>Publisher</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="projectIdentifier" type="ms:projectIdentifierType">
		<xs:annotation>
			<xs:documentation>A unique identifier for research projects</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="journalIdentifier" type="ms:journalIdentifierType">
		<xs:annotation>
			<xs:documentation>Reference to a DOI (recommended) or any kind of identifier used for the publication</xs:documentation>
			<xs:appinfo>
				<label>Journal Identifier</label>
				<sameAs>dct:identifier</sameAs>
				<!-- we allow for all possible identifiers and not only persistent ones as in CCR -->
				<closeMatch>http://hdl.handle.net/11459/CCR_C-2573_ae7c2548-8a86-ab6e-7099-e28b7697d1a2 (ccr:persistentIdentifier)</closeMatch>
				<!-- currently DataCite only supports DOI's -->
				<sameAs>dataCite:identifier</sameAs>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:attribute name="schemeURI" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>Specifies the URI of the scheme according to which the resource identifier is assigned by the authority that issues it</xs:documentation>
			<xs:appinfo>
				<label>URI for scheme</label>
				<label-plural>URI for schemes</label-plural>
				<userTip>If the scheme name is not included in the listed values for resource or other identifiers, please use "other" and use the "schemeURI" attribute to provide a link to information about the scheme</userTip>
				<conditions>Show in editor only if resourceIdentifierSchemeName=other or personIdentifierSchemeName=other</conditions>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
</xs:schema>
