OMTD-SHARE v200 XSD/OMTD-SHARE-Distributions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿pl (pl) -->
<xs:schema xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0" xml:lang="en">
	<xs:include schemaLocation="./OMTD-SHARE-Actors.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-TextSpecific.xsd"/>
	<!-- definition of complex types -->
	<xs:element name="distributionLoc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ms:distributionMedium"/>
				<xs:element ref="ms:distributionURL" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Any url where the resource can be downloaded from; please, use if the resource is "downloadable" and you have not uploaded the resource in the repository</xs:documentation>
						<xs:appinfo>
							<relation>one-to-many</relation>
							<label>Distribution URL</label>
							<broader>dcat:downloadURL</broader>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="documentDistributionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{distributionMedium}, licensing terms: {licenceInfo}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ms:distributionLoc"/>
			<xs:element name="hashkey" type="xs:string">
				<xs:annotation>
					<xs:documentation>Specifies the hashkey for indexing and downloading the publication</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-many</relation>
						<label>Hashkey</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fullText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full text of the publication in simple text format</xs:documentation>
					<xs:appinfo>
						<label>Full text</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:dataFormatInfo" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:characterEncoding" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sizes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:sizeInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo"/>
			<xs:element name="copyrightStatements" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:copyrightStatement" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
								<xs:appinfo>
									<label>Copyright statement</label>
									<broadMatch>dct:rights</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="attributionTexts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:attributionText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as "Resource A by Resource Creator/Owner B used under licence C as accessed at D"</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Attribution text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rightsHolders" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:rightsHolder" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Rights holder</label>
									<broadMatch>dct:rightsHolder</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:availabilityStartDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:availabilityEndDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:fee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Fee</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="userTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:userType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>User type</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="componentDistributionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{componentDistributionForm}, licensing terms: {licenceInfo}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<!-- although from components with Maven/Docker, we get them from the identifier, I prefer to keep it here and duplicate it, because the semantics are different -->
			<xs:element name="componentLoc">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="componentDistributionForm">
							<xs:annotation>
								<xs:documentation>Specifies the form of distribution of the component (e.g. as source code, executable programme etc.)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="webService">
										<xs:annotation>
											<xs:documentation>A component accessible through remote invocation typically using some REST-style APIs or SOAP protocols.</xs:documentation>
											<xs:appinfo>
												<label>web service</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="sourceCode">
										<xs:annotation>
											<xs:documentation>The distributable (delivery) form of a component containing the source code</xs:documentation>
											<xs:appinfo>
												<label>source code</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="executableCode">
										<xs:annotation>
											<xs:documentation>The distributable (delivery) form of a component with the executable code, i.e. that can be run on computer</xs:documentation>
											<xs:appinfo>
												<label>executable code</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="sourceAndExecutableCode">
										<xs:annotation>
											<xs:documentation>The distributable (delivery) form of a component that contains both the source and the executable codes</xs:documentation>
											<xs:appinfo>
												<label>source and executable code</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="ms:distributionURL"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="command" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A command line used for the execution of a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Command</label>
						<usage>To show if componentDistributionForm=webService</usage>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<!--
			<xs:element name="mavenID" minOccurs="0"/> -->
			<xs:element name="webServiceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A classification of web services based on the protocol used for accessing them</xs:documentation>
					<xs:appinfo>
						<label>web service type</label>
						<usage>show only if componentDistributionForm=webService</usage>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SOAP">
							<xs:annotation>
								<xs:documentation>Web services that use SOAP (Simple Object Access Protocol)</xs:documentation>
								<xs:appinfo>
									<label>SOAP</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="REST">
							<xs:annotation>
								<xs:documentation>Web services that use REST (Representational State Transfer)</xs:documentation>
								<xs:appinfo>
									<label>REST</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="other">
							<xs:annotation>
								<xs:documentation>Value for webServiceType, to be used when the desired value is not included in the listed values</xs:documentation>
								<xs:appinfo>
									<label>other</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="operatingSystems" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="operatingSystem" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The operating system on which the tool can run</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Operating system</label>
									<label-plural>Operating systems</label-plural>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
									<xs:enumeration value="os-independent">
										<xs:annotation>
											<xs:documentation>Independent of operating systems</xs:documentation>
											<xs:appinfo>
												<label>Independent of operating systems</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="windows">
										<xs:annotation>
											<xs:documentation>Windows OS</xs:documentation>
											<xs:appinfo>
												<label>Windows OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="linux">
										<xs:annotation>
											<xs:documentation>Linux OS</xs:documentation>
											<xs:appinfo>
												<label>Linux OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="unix">
										<xs:annotation>
											<xs:documentation>Unix OS</xs:documentation>
											<xs:appinfo>
												<label>UNIX OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="mac-OS">
										<xs:annotation>
											<xs:documentation>MAC OS</xs:documentation>
											<xs:appinfo>
												<label>MAC OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="googleChromeOS">
										<xs:annotation>
											<xs:documentation>Google chrome OS</xs:documentation>
											<xs:appinfo>
												<label>Google chrome OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="iOS">
										<xs:annotation>
											<xs:documentation>iOS</xs:documentation>
											<xs:appinfo>
												<label>iOS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="android">
										<xs:annotation>
											<xs:documentation>Android OS</xs:documentation>
											<xs:appinfo>
												<label>Android OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="other">
										<xs:annotation>
											<xs:documentation>Value for operatingSystem, to be used when the desired value is not included in the listed values</xs:documentation>
											<xs:appinfo>
												<label>Other</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo"/>
			<xs:element name="copyrightStatements" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:copyrightStatement" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement).</xs:documentation>
								<xs:appinfo>
									<label>Copyright statement</label>
									<broadMatch>dct:rights</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="attributionTexts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:attributionText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as "Resource A by Resource Creator/Owner B used under licence C as accessed at D"</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Attribution text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rightsHolders" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:rightsHolder" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Rights holder</label>
									<broadMatch>dct:rightsHolder</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:availabilityStartDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:availabilityEndDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:fee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Fee</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="userTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:userType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>User type</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datasetDistributionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{distributionMedium}, licensing terms: {licenceInfo}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ms:distributionLoc"/>
			<xs:element name="textFormats" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:textFormatInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="characterEncodings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:characterEncodingInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sizes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:sizeInfo" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo">
				<xs:annotation>
					<xs:appinfo>
						<usage-ugc>To be automatically created by the system; use the values from the rightsInfo of the publications repeating them if there are multiple licenceInfo or rightsStatementsInfo with different values</usage-ugc>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="copyrightStatements" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:copyrightStatement" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
								<xs:appinfo>
									<label>Copyright statement</label>
									<broadMatch>dct:rights</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="attributionTexts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:attributionText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as "Resource A by Resource Creator/Owner B used under licence C as accessed at D"</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Attribution text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rightsHolders" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:rightsHolder" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Rights holder</label>
									<broadMatch>dct:rightsHolder</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:availabilityStartDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:availabilityEndDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:fee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Fee</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="userTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:userType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>User type</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="licenceInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{licence} {restrictionsOfUse}</render-short>
				<userTip>You can provide information on the rights of accessing and using a resource in one of the following ways, in order of preference: (a) use the element "licence" and select one of the recommended licences; (b)  if the licence you use is not included in the list, you can use the "nonStandardLicenceTerms" or the "proprietary" values and give further information on your licence in the elements: "nonStandardLicenceName", "nonStandardLicenceTermsURL" and "nonStandardLicenceTermsText"; (c) you can also use the "rightsStatementName" and the "rightsStatementURL" (with a link to a URL with more explanations on its usage) if the resource is provided with a general statement of use and not an official licence document; please, note that this is an option used mainly to facilitate end-users in accessing your resource, while you are strongly advised to properly license your resource.</userTip>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="licence">
				<xs:annotation>
					<xs:documentation>The licence of use for the resource</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Licence</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="CC-BY-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution 4.0; cf. https://creativecommons.org/licenses/by/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial 4.0; cf. https://creativecommons.org/licenses/by-nc/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-ND-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial No Derivatives 4.0; cf. https://creativecommons.org/licenses/by-nc-nd/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial No Derivatives 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-SA-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial Share Alike 4.0; cf. https://creativecommons.org/licenses/by-nc-sa/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial Share Alike 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-ND-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution No Derivatives 4.0; cf. https://creativecommons.org/licenses/by-nd/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution No Derivatives 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-SA-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Share Alike 4.0; cf. https://creativecommons.org/licenses/by-sa/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Share Alike 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC0-1.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Zero 1.0 Universal; cf. https://creativecommons.org/publicdomain/zero/1.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Zero 1.0 Universal</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution 3.0 Unported; cf. https://creativecommons.org/licenses/by/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial 3.0 Unported; cf. https://creativecommons.org/licenses/by-nc/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-ND-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial No Derivatives 3.0 Unported; cf. https://creativecommons.org/licenses/by-nc-nd/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial No Derivatives 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-SA-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial Share Alike 3.0 Unported; cf. https://creativecommons.org/licenses/by-nc-sa/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial Share Alike 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-ND-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution No Derivatives 3.0 Unported; cf. https://creativecommons.org/licenses/by-nd/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution No Derivatives 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-SA-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Share Alike 3.0 Unported; cf. https://creativecommons.org/licenses/by-sa/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Share Alike 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PDDL">
							<xs:annotation>
								<xs:documentation>Open Data Commons Public Domain Dedication and License; cf. https://opendatacommons.org/licenses/pddl/</xs:documentation>
								<xs:appinfo>
									<label>Open Data Commons Public Domain Dedication and License</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ODC-BY-1.0">
							<xs:annotation>
								<xs:documentation>Open Data Commons Attribution License v1.0; cf. https://opendatacommons.org/licenses/by/1-0/</xs:documentation>
								<xs:appinfo>
									<label>Open Data Commons Attribution License v1.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ODbL-1.0">
							<xs:annotation>
								<xs:documentation>Open Data Commons Open Database License v1.0; cf. https://opendatacommons.org/licenses/odbl/1-0/</xs:documentation>
								<xs:appinfo>
									<label>ODC Open Database License v1.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="AGPL-1.0">
							<xs:annotation>
								<xs:documentation>Affero General Public License v1.0; cf. http://www.affero.org/oagpl.html</xs:documentation>
								<xs:appinfo>
									<label>Affero General Public License v1.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Apache-2.0">
							<xs:annotation>
								<xs:documentation>Apache Lincse 2.0; cf. https://www.apache.org/licenses/LICENSE-2.0</xs:documentation>
								<xs:appinfo>
									<label>Apache License v2.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="BSD-4-Clause">
							<xs:annotation>
								<xs:documentation>BSD 4-Clause (Original or Old) License; cf. http://directory.fsf.org/wiki/License:BSD_4Clause</xs:documentation>
								<xs:appinfo>
									<label>BSD 4-Clause License (Original or Old)</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="BSD-3-Clause">
							<xs:annotation>
								<xs:documentation>BSD 3-Clause (New or Revised) License; cf. https://opensource.org/licenses/BSD-3-Clause</xs:documentation>
								<xs:appinfo>
									<label>BSD 3-Clause License (New or Revised)</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="BSD-2-Clause">
							<xs:annotation>
								<xs:documentation>BSD-2-Clause (Simplified) License; cf. https://opensource.org/licenses/BSD-2-Clause</xs:documentation>
								<xs:appinfo>
									<label>BSD-2-Clause (Simplified) License</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="GFDL-1.3">
							<xs:annotation>
								<xs:documentation>GNU Free Documentation License v1.3; cf. https://www.gnu.org/licenses/fdl-1.3.en.html</xs:documentation>
								<xs:appinfo>
									<label>GNU Free Documentation License v1.3</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="GPL-3.0">
							<xs:annotation>
								<xs:documentation>GNU General Public License v3.0; cf. https://www.gnu.org/licenses/gpl-3.0.en.html</xs:documentation>
								<xs:appinfo>
									<label>GNU General Public License v3.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="LGPL-3.0">
							<xs:annotation>
								<xs:documentation>GNU Lesser General Public License v3.0; cf. https://www.gnu.org/licenses/lgpl-3.0.en.html</xs:documentation>
								<xs:appinfo>
									<label>GNU Lesser General Public License v3.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="MIT">
							<xs:annotation>
								<xs:documentation>MIT License; cf. https://opensource.org/licenses/MIT</xs:documentation>
								<xs:appinfo>
									<label>MIT License</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Princeton-WordNet">
							<xs:annotation>
								<xs:documentation>WordNet v3.0 (Princeton WordNet) License; cf. https://wordnet.princeton.edu/wordnet/license/</xs:documentation>
								<xs:appinfo>
									<label>WordNet v3.0 (Princeton WordNet) License</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="EPL-1.0">
							<xs:annotation>
								<xs:documentation>Eclipse Public License v1.0; cf. https://www.eclipse.org/legal/epl-v10.html</xs:documentation>
								<xs:appinfo>
									<label>Eclipse Public License v1.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="NLM">
							<xs:annotation>
								<xs:documentation>U.S. National Library of Medicine (NLM) License Agreement for NLM Data; cf. https://www.nlm.nih.gov/databases/license/license.pdf</xs:documentation>
								<xs:appinfo>
									<label>License Agreement for NLM Data</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="f-DPPL-3.0">
							<xs:annotation>
								<xs:documentation>Free Digital Peer Publishing Licence (v3, en); cf. https://www.hbz-nrw.de/produkte/open-access/lizenzen/dppl/fdppl/f-DPPL_v3_en_11-2008</xs:documentation>
								<xs:appinfo>
									<label>Free Digital Peer Publishing Licence (v3)</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="M-DPPL-3.0">
							<xs:annotation>
								<xs:documentation>Modular Digital Peer Publishing Licence (v3, en); cf. https://www.hbz-nrw.de/produkte/open-access/lizenzen/dppl/mdppl/m-DPPL_v3_en_11-2008</xs:documentation>
								<xs:appinfo>
									<label>Modular Digital Peer Publishing Licence (v3)</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="proprietary">
							<xs:annotation>
								<xs:documentation>Value for "licence"; to be used for licences that have a proprietary status</xs:documentation>
								<xs:appinfo>
									<label>Proprietary</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="underNegotiation">
							<xs:annotation>
								<xs:documentation>Value for "licence"; to be used for resources whose distribution status is still under negotiation</xs:documentation>
								<xs:appinfo>
									<label>Under negotiation</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="nonStandardLicenceTerms">
							<xs:annotation>
								<xs:documentation>Value for "licence"; to be used for resources that are licensed with a licence not included in the OMTD list of licences; more information on the licence must be provided in the relevant metadata elements</xs:documentation>
								<xs:appinfo>
									<label>Non standard Licence or Terms of use</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<!--
						<xs:enumeration value="MS-NoReD"/>
						<xs:enumeration value="MS-NoReD-FF"/>
						<xs:enumeration value="MS-NoReD-ND"/>
						<xs:enumeration value="MS-NoReD-ND-FF"/>
						<xs:enumeration value="MS-NC-NoReD"/>
						<xs:enumeration value="MS-NC-NoReD-FF"/>
						<xs:enumeration value="MS-NC-NoReD-ND"/>
						<xs:enumeration value="MS-NC-NoReD-ND-FF"/>
						<xs:enumeration value="ELRA_END_USER"/>
						<xs:enumeration value="ELRA_EVALUATION"/>
						<xs:enumeration value="ELRA_VAR"/>
						<xs:enumeration value="CLARIN_PUB"/>
						<xs:enumeration value="CLARIN_ACA"/>
						<xs:enumeration value="CLARIN_ACA-NC"/>
						<xs:enumeration value="CLARIN_RES"/>
-->
						<!--
						<xs:enumeration value="MSCommons-BY"/>
						<xs:enumeration value="MSCommons-BY-NC"/>
						<xs:enumeration value="MSCommons-BY-NC-ND"/>
						<xs:enumeration value="MSCommons-BY-NC-SA"/>
						<xs:enumeration value="MSCommons-BY-ND"/>
						<xs:enumeration value="MSCommons-BY-SA"/>
-->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- 
			<xs:element name="version" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The version of the licence; the preferred options are "4.0" for all CC-licences and "2.0" for the META-SHARE-NoReD ones</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Version</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.0.0"/>
						<xs:enumeration value="2.0"/>
						<xs:enumeration value="3.0"/>
						<xs:enumeration value="4.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
-->
			<xs:element name="nonStandardLicenceName" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name with which a licence is known; to be used for licences not included in the pre-defined list of licences</xs:documentation>
					<xs:appinfo>
						<label>Name (for non-standard licences / terms of use)</label>
						<label-plural>Names (for non-standard licences / terms of use)</label-plural>
						<usage>To appear only when licence=nonStandardLicenceTerms or proprietary</usage>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang23">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="nonStandardLicenceTermsURL" type="ms:httpURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to provide a hyperlink to a URL containing the text of a licence not included in the predefined list or describing the terms of use for a language resource or terms of service for web services</xs:documentation>
					<xs:appinfo>
						<label>URL for non-standard licences / terms of use / terms of service</label>
						<label-plural>URLs for non-standard licences / terms of use / terms of service</label-plural>
						<usage>To appear only when licence=nonStandardLicenceTerms or proprietary; at least this or the nonStandardLicenceTermsText must be filled in</usage>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nonStandaradLicenceTermsText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used for inputting the text of licences (that are not included in the pre-defined list) and terms of use or terms of service (for web services)</xs:documentation>
					<xs:appinfo>
						<label>Text (for non-standard licences / terms of use / terms of service)</label>
						<label-plural>Texts (for non-standard licences / terms of use / terms of service)</label-plural>
						<usage>To appear only when licence=nonStandardLicenceTerms or proprietary; at least this or the nonStandardLicenceTermsURL must be filled in</usage>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="1000"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang22">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="conditionOfUse" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the conditions and terms of use imposed by the licence. It is an optional element and only to be taken as providing brief human readable information on the fact that the LR is provided under a specific set of conditions. These correspond to the most frequently used conditions imposed by the licensor of the LR (via the specified licence). The proper exposition of all conditions and possible exceptions is to be found inside the licence text. LR depositors should, hence, carefully choose the values of this field to match the licence chosen and users should carefully read that licence before using the LR.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Condition of use</label>
						<label-plural>Conditions of use</label-plural>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="attribution"/>
						<xs:enumeration value="nonCommercialUse"/>
						<xs:enumeration value="commercialUse"/>
						<xs:enumeration value="shareAlike"/>
						<xs:enumeration value="noDerivatives"/>
						<xs:enumeration value="noRedistribution"/>
						<xs:enumeration value="evaluationUse"/>
						<xs:enumeration value="research"/>
						<xs:enumeration value="languageEngineeringResearch"/>
						<xs:enumeration value="education"/>
						<xs:enumeration value="informLicensor"/>
						<xs:enumeration value="redeposit"/>
						<xs:enumeration value="compensate"/>
						<xs:enumeration value="personalDataIncluded"/>
						<xs:enumeration value="sensitiveDataIncluded"/>
						<xs:enumeration value="requestPlan"/>
						<xs:enumeration value="spatialConstraint"/>
						<xs:enumeration value="userIdentified"/>
						<xs:enumeration value="academicUsers"/>
						<xs:enumeration value="commercialUsers"/>
						<xs:enumeration value="membersOfGroup"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
					<!-- added here also types of users because they can affect both the licensing terms in general as well as its application -->
				</xs:simpleType>
			</xs:element>
			<!-- to decide if they will be used
			<xs:element name="licenceCategory" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A way of classifying licences according to their conditions of use (CLARIN recommendation, http://www.clarin.eu/content/license-categories)</xs:documentation>
					<xs:appinfo>
						<label>Licence category</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACA">
							<xs:annotation>
								<xs:documentation>For licences that allow the use of resources only by academic users (individuals affiliated with universities and/or research centers who are authenticated through a certified authentication system); other conditions of use may also apply</xs:documentation>
							<xs:appinfo>
								<label>ACA</label>
							</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PUB">
							<xs:annotation>
								<xs:documentation>For licences that allow public use (i.e. resources can be accessed by all users, although other conditions of use may apply)</xs:documentation>
							<xs:appinfo>
								<label>PUB</label>
							</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="RES">
							<xs:annotation>
								<xs:documentation>For licences that allow restricted use of resources by users that are both authenticated and authorized; other conditions of use may also apply</xs:documentation>
							<xs:appinfo>
								<label>RES</label>
							</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
-->
		</xs:sequence>
	</xs:complexType>
	<!--
	<xs:complexType name="rightsStatementInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on formal statements indicative of licensing terms for the use of a resource (e.g. open access, free to read, all rights reserved etc.); the semantics of the statements should be clear, preferrably formally expressed and stored at a URL</xs:documentation>
			<xs:appinfo>
				<label>Rights statement</label>
				<label>Rights statements</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
-->
	<xs:element name="rightsStatement">
		<xs:annotation>
			<xs:documentation>The name (identifier) of a formal statement indicative of licensing terms for the use of a resource (e.g. open access, free to read etc.); its semantics should be clear, preferrably formally expressed and stored at a URL</xs:documentation>
			<xs:appinfo>
				<label>Rights statement</label>
				<label-plural>Rights statements</label-plural>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="openAccess">
					<xs:annotation>
						<xs:documentation>The free and online availability of literature, which allows to read, download, copy, distribute, print, search, or link to the ful text, crawl articles for indexing, pass them as data to software, or use them for any other useful purpose. An availability that is granted without financial, legal, or technical barriers other than those inseparable from gaining access to the internet itself, and those related to giving authors control over the integrity of their work and the right to be properly acknowledged and cited.</xs:documentation>
						<xs:appinfo>
							<label>Open Access</label>
							<closeMatch>info:eu-repo/semantics/openAccess</closeMatch>
							<closeMatch>http://purl.org/eprint/accessRights/OpenAccess</closeMatch>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="restrictedAccess">
					<xs:annotation>
						<xs:documentation>Access is subject to restrictions or controls regarding users (e.g. limited to researchers or members of a specific group) or use (e.g. for research only, noncommercial use etc.); subscription or registration may also be required and access may incur financial costs.</xs:documentation>
						<xs:appinfo>
							<label>Restricted Access</label>
							<closeMatch>info:eu-repo/semantics/restrictedAccess</closeMatch>
							<closeMatch>http://purl.org/eprint/accessRights/RestrictedAccess</closeMatch>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<!--
				<xs:enumeration value="embargoedAccess">
					<xs:annotation>
						<xs:documentation>The resource is with Closed Access, until released for Open Access on a certain date, which can be specified elsewhere in the metadata.</xs:documentation>
						<xs:appinfo>
							<label>Embargoed Access</label>
							<closeMatch>info:eu-repo/semantics/embargoedAccess</closeMatch>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
-->
				<!-- not sufficiently different from restrictedAccess
				<xs:enumeration value="closedAccess">
					<xs:annotation>
						<xs:documentation>Opposite to open access; access limited to a specific number of people and/or corporate bodies, frequently after an official procedure of request and consent is followed.</xs:documentation>
						<xs:appinfo>
							<label>Closed Access</label>
							<closeMatch>info:eu-repo/semantics/closedAccess</closeMatch>
							<closeMatch>http://purl.org/eprint/accessRights/ClosedAccess</closeMatch>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!--
			<xs:element name="rightsStmtURL" type="xs:string">
				<xs:annotation>
					<xs:documentation>Link to the URL with the text that formally explains the licensing conditions imposed by the statement</xs:documentation>
					<xs:appinfo>
						<label>Rights statement URL</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
-->
	<!-- definition of elements -->
	<xs:element name="documentDistributionInfo" type="ms:documentDistributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distribution of a document (single file)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Document distribution</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="datasetDistributionInfo" type="ms:datasetDistributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distribution of a dataset resource (multiple files)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Document distribution</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="componentDistributionInfo" type="ms:componentDistributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distributable form of a component (e.g. as a software code, an executable programme, a web service etc.)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Document distribution</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="licenceInfo" type="ms:licenceInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on licences for the resource; can be repeated to allow for different modes of access and restrictions of use (e.g. free for academic use, on-a-fee basis for commercial use, download of a sample for free use etc.)</xs:documentation>
			<xs:appinfo>
				<label>Licence</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<!--
	<xs:element name="rightsStatementInfo" type="ms:rightsStatementInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on official statements indicative of licensing terms for the use of a resource (e.g. open access, free to read, all rights reserved etc.); its semantics should be clear, preferrably formally expressed and stored at a url</xs:documentation>
			<xs:appinfo>
				<label>Rights statement</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
-->
	<xs:element name="rightsInfo">
		<xs:annotation>
			<xs:documentation>Groups information on licensing terms for the distribution of a resource; at least a licence (preferred option) or formal rights statement (e.g. open access) must be declared for the resource</xs:documentation>
			<xs:appinfo>
				<label>Information on distribution rights</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="licenceInfos">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ms:licenceInfo" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Groups information on licences for the resource; can be repeated to allow for different modes of access and restrictions of use (e.g. free for academic use, on-a-fee basis for commercial use, download of a sample for free use etc.)</xs:documentation>
										<xs:appinfo>
											<relation>many-to-many</relation>
											<label>Licence</label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<!--
					<xs:element ref="ms:rightsStatementInfo" minOccurs="0"/>
-->
					<xs:element ref="ms:rightsStatement" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="ms:rightsStatement" minOccurs="1"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- definition of elements -->
	<xs:element name="distributionMedium">
		<xs:annotation>
			<xs:documentation>Specifies the medium (channel) used for delivery or providing access to the resource</xs:documentation>
			<xs:appinfo>
				<recommended>true</recommended>
				<relation>one-to-many</relation>
				<label>Distribution medium</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:enumeration value="webExecutable">
					<xs:annotation>
						<xs:documentation>For web services</xs:documentation>
						<xs:appinfo>
							<label>Web executable</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="downloadable">
					<xs:annotation>
						<xs:documentation>For resources that can be downloaded, e.g. for documents that can be downloaded or software tools that can be locally downloaded and run</xs:documentation>
						<xs:appinfo>
							<label>Downloadable</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="accessibleThroughInterface">
					<xs:annotation>
						<xs:documentation>For resources that can accessed only via an interface, e.g. lexica or corpora through query interfaces</xs:documentation>
						<xs:appinfo>
							<label>Acessible through interface</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="other">
					<xs:annotation>
						<xs:documentation>Value for distributionMedium; to be used when the desired value is not included in the listed values</xs:documentation>
						<xs:appinfo>
							<label>Other</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<!--
				<xs:enumeration value="paperCopy">
		<xs:annotation>
			<xs:documentation>For resources that are available only in paper format</xs:documentation>
			<xs:appinfo>
				<label>Paper copy</label>
			</xs:appinfo>
		</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="hardDisk"/>
				<xs:enumeration value="bluRay"/>
				<xs:enumeration value="DVD-R"/>
				<xs:enumeration value="CD-ROM"/>
-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="distributionURL" type="ms:httpURI">
		<xs:annotation>
			<xs:documentation>Any url where the resource can be accessed from, either in a downloadable form or as a web executable command etc.</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Download URL</label>
				<broader>dcat:downloadURL</broader>
				<recommended>true</recommended>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<!--
	<xs:element name="downloadURL" type="ms:httpURI">
		<xs:annotation>
			<xs:documentation>Any url where the resource can be downloaded from; please, use if the resource is downloadable and you have not uploaded the resource in the repository</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Download URL</label>
				<sameAs>dcat:downloadURL</sameAs>
				<usage>Mandatory if distributionMedium=downloadable</usage>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="accessURL" type="ms:httpURI">
		<xs:annotation>
			<xs:documentation>A landing page, feed, SPARQL endpoint etc. that gives access to the resource or where the web service/workflow is executed; please use for resources that are "accessibleThroughInterface" or "webExecutable"</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Access URL</label>
				<closeMatch>dcat:accessURL</closeMatch>
				<usage>Mandatory if distributionMedium=accessibleThroughInterface or webExecutable</usage>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
-->
	<xs:element name="copyrightStatement">
		<xs:annotation>
			<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
			<xs:appinfo>
				<label>Copyright statement</label>
				<broadMatch>dct:rights</broadMatch>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ms:myString">
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
		<xs:unique name="uniqueLang200">
			<xs:selector xpath="."/>
			<xs:field xpath="@lang"/>
		</xs:unique>
	</xs:element>
	<xs:element name="attributionText">
		<xs:annotation>
			<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as "Resource A by Resource Creator/Owner B used under licence C as accessed at D"</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Attribution text</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ms:myString">
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
		<xs:unique name="uniqueLang12">
			<xs:selector xpath="."/>
			<xs:field xpath="@lang"/>
		</xs:unique>
	</xs:element>
	<xs:element name="rightsHolder" type="ms:actorInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
			<xs:appinfo>
				<relation>many-to-many</relation>
				<label>Rights holder</label>
				<broadMatch>dct:rightsHolder</broadMatch>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="availabilityStartDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Availability start date</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="availabilityEndDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Availability end date</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="fee">
		<xs:annotation>
			<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Fee</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="userType">
		<xs:annotation>
			<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>User type</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<xs:enumeration value="academic">
					<xs:annotation>
						<xs:documentation>For academic institutions</xs:documentation>
						<xs:appinfo>
							<label>Academic</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="commercial">
					<xs:annotation>
						<xs:documentation>For commercial institutions</xs:documentation>
						<xs:appinfo>
							<label>Commercial</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="membersOfGroup">
					<xs:annotation>
						<!-- CHECK would it be possible to add here an attribute for the group? -->
						<xs:documentation>For members of particular groups (e.g. META-SHARE, CLARIN, ELRA etc.)</xs:documentation>
						<xs:appinfo>
							<label>Members of group</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
