OMTD-SHARE v101 XSD/OMTD-SHARE-Distributions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited by ILSP/Athena R.C. -->
<xs:schema xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0" xml:lang="en">
	<xs:include schemaLocation="./OMTD-SHARE-Actors.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-TextSpecific.xsd"/>
	<!-- definition of complex types -->
	<xs:complexType name="documentDistributionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{distributionMedium}, licensing terms: {licenceInfo}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="distributionMediums">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:distributionMedium" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Specifies the medium (channel) used for delivery or providing access to the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<label>Distribution medium</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="downloadURLs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:downloadURL" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Any url where the resource can be downloaded from; please, use if the resource is "downloadable" and you have not uploaded the resource in the repository</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Download URL</label>
									<sameAs>dcat:downloadURL</sameAs>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="accessURLs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:accessURL" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A landing page, feed, SPARQL endpoint etc. that gives access to the resource or where the web service/workflow is executed; please use for resources that are "accessibleThroughInterface" or "webExecutable"</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Access URL</label>
									<closeMatch>dcat:accessURL</closeMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="fullText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full text of the publication in simple text format</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="mimeTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:mimeType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="characterEncodings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:characterEncoding" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sizes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:sizeInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo"/>
			<xs:element name="copyrightStatements" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:copyrightStatement" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
								<xs:appinfo>
									<label>Copyright statement</label>
									<broadMatch>dct:rights</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="attributionTexts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:attributionText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as "Resource A by Resource Creator/Owner B used under licence C as accessed at D"</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Attribution text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rightsHolders" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:rightsHolder" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Rights holder</label>
									<broadMatch>dct:rightsHolder</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:availabilityStartDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:availabilityEndDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:fee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Fee</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="userTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:userType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>User type</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="componentDistributionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{distributionMedium}, licensing terms: {licenceInfo}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="componentDistributionMedium">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="webService"/>
						<xs:enumeration value="sourceCode"/>
						<xs:enumeration value="executableCode"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="downloadURLs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:downloadURL" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Any url where the resource can be downloaded from; please, use if the resource is "downloadable" and you have not uploaded the resource in the repository</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Download URL</label>
									<sameAs>dcat:downloadURL</sameAs>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="accessURLs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:accessURL" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A landing page, feed, SPARQL endpoint etc. that gives access to the resource or where the web service/workflow is executed; please use for resources that are "accessibleThroughInterface" or "webExecutable"</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Access URL</label>
									<closeMatch>dcat:accessURL</closeMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="mavenID" minOccurs="0"/>
			<xs:element name="webServiceType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SOAP"/>
						<xs:enumeration value="REST"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="operatingSystem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The operating system on which the tool will be running</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Operating system</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:enumeration value="os-independent"/>
						<xs:enumeration value="windows"/>
						<xs:enumeration value="linux"/>
						<xs:enumeration value="unix"/>
						<xs:enumeration value="mac-OS"/>
						<xs:enumeration value="googleChromeOS"/>
						<xs:enumeration value="iOS"/>
						<xs:enumeration value="android"/>
						<xs:enumeration value="other"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="ms:rightsInfo"/>
			<xs:element name="copyrightStatements" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:copyrightStatement" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
								<xs:appinfo>
									<label>Copyright statement</label>
									<broadMatch>dct:rights</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="attributionTexts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:attributionText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as "Resource A by Resource Creator/Owner B used under licence C as accessed at D"</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Attribution text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rightsHolders" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:rightsHolder" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Rights holder</label>
									<broadMatch>dct:rightsHolder</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:availabilityStartDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:availabilityEndDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:fee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Fee</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="userTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:userType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>User type</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datasetDistributionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{distributionMedium}, licensing terms: {licenceInfo}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="distributionMediums">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:distributionMedium" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Specifies the medium (channel) used for delivery or providing access to the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<label>Distribution medium</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="downloadURLs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:downloadURL" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Any url where the resource can be downloaded from; please, use if the resource is "downloadable" and you have not uploaded the resource in the repository</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Download URL</label>
									<sameAs>dcat:downloadURL</sameAs>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="accessURLs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:accessURL" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A landing page, feed, SPARQL endpoint etc. that gives access to the resource or where the web service/workflow is executed; please use for resources that are "accessibleThroughInterface" or "webExecutable"</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Access URL</label>
									<closeMatch>dcat:accessURL</closeMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="textFormats" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:textFormatInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="characterEncodings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:characterEncodingInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sizes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:sizeInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo"/>
			<xs:element name="copyrightStatements" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:copyrightStatement" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
								<xs:appinfo>
									<label>Copyright statement</label>
									<broadMatch>dct:rights</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="attributionTexts" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:attributionText" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as "Resource A by Resource Creator/Owner B used under licence C as accessed at D"</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Attribution text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rightsHolders" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:rightsHolder" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Rights holder</label>
									<broadMatch>dct:rightsHolder</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:availabilityStartDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:availabilityEndDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:fee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Fee</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="userTypes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:userType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>User type</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="licenceInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{licence} {restrictionsOfUse}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="licence">
				<xs:annotation>
					<xs:documentation>The licence of use for the resource; if possible, please use one of the recommended standard licences</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Licence</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="CC-BY"/>
						<xs:enumeration value="CC-BY-NC"/>
						<xs:enumeration value="CC-BY-NC-ND"/>
						<xs:enumeration value="CC-BY-NC-SA"/>
						<xs:enumeration value="CC-BY-ND"/>
						<xs:enumeration value="CC-BY-SA"/>
						<xs:enumeration value="CC-ZERO"/>
						<xs:enumeration value="PDDL"/>
						<xs:enumeration value="ODC-BY"/>
						<xs:enumeration value="ODbL"/>
						<xs:enumeration value="MS-NoReD"/>
						<xs:enumeration value="MS-NoReD-FF"/>
						<xs:enumeration value="MS-NoReD-ND"/>
						<xs:enumeration value="MS-NoReD-ND-FF"/>
						<xs:enumeration value="MS-NC-NoReD"/>
						<xs:enumeration value="MS-NC-NoReD-FF"/>
						<xs:enumeration value="MS-NC-NoReD-ND"/>
						<xs:enumeration value="MS-NC-NoReD-ND-FF"/>
						<xs:enumeration value="ELRA_END_USER"/>
						<xs:enumeration value="ELRA_EVALUATION"/>
						<xs:enumeration value="ELRA_VAR"/>
						<xs:enumeration value="CLARIN_PUB"/>
						<xs:enumeration value="CLARIN_ACA"/>
						<xs:enumeration value="CLARIN_ACA-NC"/>
						<xs:enumeration value="CLARIN_RES"/>
						<xs:enumeration value="AGPL"/>
						<xs:enumeration value="ApacheLicence_2.0"/>
						<xs:enumeration value="BSD_4-clause"/>
						<xs:enumeration value="BSD_3-clause"/>
						<xs:enumeration value="FreeBSD"/>
						<xs:enumeration value="GFDL"/>
						<xs:enumeration value="GPL"/>
						<xs:enumeration value="LGPL"/>
						<xs:enumeration value="MIT"/>
						<xs:enumeration value="Princeton_Wordnet"/>
						<xs:enumeration value="proprietary"/>
						<xs:enumeration value="underNegotiation"/>
						<xs:enumeration value="nonStandardLicenceTerms"/>
						<!--
						<xs:enumeration value="MSCommons-BY"/>
						<xs:enumeration value="MSCommons-BY-NC"/>
						<xs:enumeration value="MSCommons-BY-NC-ND"/>
						<xs:enumeration value="MSCommons-BY-NC-SA"/>
						<xs:enumeration value="MSCommons-BY-ND"/>
						<xs:enumeration value="MSCommons-BY-SA"/>
-->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The version of the licence; the preferred options are "4.0" for all CC-licences and "2.0" for the META-SHARE-NoReD ones</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Version</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.0.0"/>
						<xs:enumeration value="2.0"/>
						<xs:enumeration value="3.0"/>
						<xs:enumeration value="4.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nonStandardLicenceName" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The name with which a licence is known; to be used for licences not included in the pre-defined list of recommended licences</xs:documentation>
					<xs:appinfo>
						<label>Name (for non-standard licences)</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang23">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="nonStandardLicenceTermsURL" type="ms:httpURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to provide a hyperlink to a url containing the text of a licence not included in the predefined list or describing the terms of use for a language resource or terms of service for web services</xs:documentation>
					<xs:appinfo>
						<label>URL for non-standard licences / terms of use / terms of service</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nonStandaradLicenceTermsText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used for inputting the text of licences (that are not included in the pre-defined list) and terms of use or terms of service (for web services)</xs:documentation>
					<xs:appinfo>
						<label>Text (for non-standard licences / terms of use / terms of service)</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="1000"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang22">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="conditionsOfUse" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the conditions and terms of use imposed by the licence. It is an optional element and only to be taken as providing brief human readable information on the fact that the LR is provided under a specific set of conditions. These correspond to the most frequently used conditions imposed by the licensor of the LR (via the specified licence). The proper exposition of all conditions and possible exceptions is to be found inside the licence text. LR depositors should, hence, carefully choose the values of this field to match the licence chosen and users should carefully read that licence before using the LR.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Conditions of use</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="attribution"/>
						<xs:enumeration value="nonCommercialUse"/>
						<xs:enumeration value="commercialUse"/>
						<xs:enumeration value="shareAlike"/>
						<xs:enumeration value="noDerivatives"/>
						<xs:enumeration value="noRedistribution"/>
						<xs:enumeration value="evaluationUse"/>
						<xs:enumeration value="research"/>
						<xs:enumeration value="languageEngineeringResearch"/>
						<xs:enumeration value="education"/>
						<xs:enumeration value="informLicensor"/>
						<xs:enumeration value="redeposit"/>
						<xs:enumeration value="compensate"/>
						<xs:enumeration value="personalDataIncluded"/>
						<xs:enumeration value="sensitiveDataIncluded"/>
						<xs:enumeration value="requestPlan"/>
						<xs:enumeration value="spatialConstraint"/>
						<xs:enumeration value="userIdentified"/>
						<xs:enumeration value="academicUsers"/>
						<xs:enumeration value="commercialUsers"/>
						<xs:enumeration value="membersOfGroup"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
					<!-- added here also types of users because they can affect both the licensing terms in general as well as its application -->
				</xs:simpleType>
			</xs:element>
			<!-- to decide if they will be used
			<xs:element name="licenceCategory" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A way of classifying licences according to their conditions of use (CLARIN recommendation, http://www.clarin.eu/content/license-categories)</xs:documentation>
					<xs:appinfo>
						<label>Licence category</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACA">
							<xs:annotation>
								<xs:documentation>For licences that allow the use of resources only by academic users (individuals affiliated with universities and/or research centers who are authenticated through a certified authentication system); other conditions of use may also apply</xs:documentation>
							<xs:appinfo>
								<label>ACA</label>
							</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PUB">
							<xs:annotation>
								<xs:documentation>For licences that allow public use (i.e. resources can be accessed by all users, although other conditions of use may apply)</xs:documentation>
							<xs:appinfo>
								<label>PUB</label>
							</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="RES">
							<xs:annotation>
								<xs:documentation>For licences that allow restricted use of resources by users that are both authenticated and authorized; other conditions of use may also apply</xs:documentation>
							<xs:appinfo>
								<label>RES</label>
							</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rightsStatementInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on official statements indicative of licensing terms for the use of a resource (e.g. open access, free to read, all rights reserved etc.); its semantics should be clear, preferrably formally expressed and stored at a url</xs:documentation>
			<xs:appinfo>
				<label>Rights statement</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rightsStmtName">
				<xs:annotation>
					<xs:documentation>The name of an official statement indicative of licensing terms for the use of a resource (e.g. open access, free to read etc.); its semantics should be clear, preferrably formally expressed and stored at a url</xs:documentation>
					<xs:appinfo>
						<label>Rights statement name</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="openAccess">
							<xs:annotation>
								<xs:documentation>info:eu-repo/semantics/openAccess</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="closedAccess">
							<xs:annotation>
								<xs:documentation>info:eu-repo/semantics/closedAccess</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="embargoedAccess">
							<xs:annotation>
								<xs:documentation>info:eu-repo/semantics/embargoedAccess</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="restrictedAccess">
							<xs:annotation>
								<xs:documentation>info:eu-repo/semantics/restrictedAccess</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rightsStmtURL" type="xs:string">
				<xs:annotation>
					<xs:documentation>Link to the URL with the text that formally explains the licensing conditions imposed by the statement</xs:documentation>
					<xs:appinfo>
						<label>Rights statement URL</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- definition of elements -->
	<xs:element name="documentDistributionInfo" type="ms:documentDistributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distribution of a document (single file)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Document distribution</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="datasetDistributionInfo" type="ms:datasetDistributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distribution of a dataset resource (multiple files)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Document distribution</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="componentDistributionInfo" type="ms:componentDistributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distribution of a component (software code, executable programme, web service/workflow)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Document distribution</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="licenceInfo" type="ms:licenceInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on licences for the resource; can be repeated to allow for different modes of access and restrictions of use (e.g. free for academic use, on-a-fee basis for commercial use, download of a sample for free use etc.)</xs:documentation>
			<xs:appinfo>
				<label>Licence</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="rightsStatementInfo" type="ms:rightsStatementInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on official statements indicative of licensing terms for the use of a resource (e.g. open access, free to read, all rights reserved etc.); its semantics should be clear, preferrably formally expressed and stored at a url</xs:documentation>
			<xs:appinfo>
				<label>Rights statement</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="rightsInfo">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="licenceInfos">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ms:licenceInfo" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Groups information on licences for the resource; can be repeated to allow for different modes of access and restrictions of use (e.g. free for academic use, on-a-fee basis for commercial use, download of a sample for free use etc.)</xs:documentation>
										<xs:appinfo>
											<relation>many-to-many</relation>
											<label>Licence</label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="ms:rightsStatementInfo" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="ms:rightsStatementInfo" minOccurs="1"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!-- definition of elements -->
	<xs:element name="distributionMedium">
		<xs:annotation>
			<xs:documentation>Specifies the medium (channel) used for delivery or providing access to the resource</xs:documentation>
			<xs:appinfo>
				<recommended>true</recommended>
				<relation>one-to-many</relation>
				<label>Distribution medium</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:enumeration value="webExecutable"/>
				<xs:enumeration value="paperCopy"/>
				<xs:enumeration value="hardDisk"/>
				<xs:enumeration value="bluRay"/>
				<xs:enumeration value="DVD-R"/>
				<xs:enumeration value="CD-ROM"/>
				<xs:enumeration value="downloadable"/>
				<xs:enumeration value="accessibleThroughInterface"/>
				<xs:enumeration value="other"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="downloadURL" type="ms:httpURI">
		<xs:annotation>
			<xs:documentation>Any url where the resource can be downloaded from; please, use if the resource is "downloadable" and you have not uploaded the resource in the repository</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Download URL</label>
				<sameAs>dcat:downloadURL</sameAs>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="accessURL" type="ms:httpURI">
		<xs:annotation>
			<xs:documentation>A landing page, feed, SPARQL endpoint etc. that gives access to the resource or where the web service/workflow is executed; please use for resources that are "accessibleThroughInterface" or "webExecutable"</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Access URL</label>
				<closeMatch>dcat:accessURL</closeMatch>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="copyrightStatement">
		<xs:annotation>
			<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the "lang" attribute to specify the language.</xs:documentation>
			<xs:appinfo>
				<label>Copyright statement</label>
				<broadMatch>dct:rights</broadMatch>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ms:myString">
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
		<xs:unique name="uniqueLang200">
			<xs:selector xpath="."/>
			<xs:field xpath="@lang"/>
		</xs:unique>
	</xs:element>
	<xs:element name="attributionText">
		<xs:annotation>
			<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as "Resource A by Resource Creator/Owner B used under licence C as accessed at D"</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Attribution text</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ms:myString">
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
		<xs:unique name="uniqueLang12">
			<xs:selector xpath="."/>
			<xs:field xpath="@lang"/>
		</xs:unique>
	</xs:element>
	<xs:element name="rightsHolder" type="ms:actorInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
			<xs:appinfo>
				<relation>many-to-many</relation>
				<label>Rights holder</label>
				<broadMatch>dct:rightsHolder</broadMatch>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="availabilityStartDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Availability start date</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="availabilityEndDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Availability end date</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="fee">
		<xs:annotation>
			<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Fee</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="userType">
		<xs:annotation>
			<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>User type</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<xs:enumeration value="academic">
					<xs:annotation>
						<xs:documentation>For academic institutions</xs:documentation>
						<xs:appinfo>
							<label>Academic</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="commercial">
					<xs:annotation>
						<xs:documentation>For commercial institutions</xs:documentation>
						<xs:appinfo>
							<label>Commercial</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="membersOfGroup">
					<xs:annotation>
						<!-- CHECK would it be possible to add here an attribute for the group? -->
						<xs:documentation>For members of particular groups (e.g. META-SHARE, CLARIN, ELRA etc.)</xs:documentation>
						<xs:appinfo>
							<label>Members of group</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
